.container.content-box
  %h4 Sorry, this link is no longer valid
  Either this link was incorrectly typed or the confirmation token has already been used to activate a Scion Swap Account. 
  To sign in, #{link_to 'click here', root_path, :target=>'_self'}.