.container.content-box
  %h1 Scion Swap FAQs
  %br
  %p
    %strong 1)  What is Scion Swap?
  %p
    Scion Swap is an exclusive promotion offered to customers purchasing or leasing a Scion model through participating dealers. This promotion grants each Customer a total of 10 complimentary days to rent a choice of certain Toyota models during the year from participating dealers’ Toyota Rent a Car (TRAC) program.    Scion will pay the daily rental charge for the 10 complimentary days.  Rental customers will be responsible for fuel and any additional charges that may occur from usage of a regular TRAC rental.  This promotion is only offered through participating Scion Dealers and only on Scion models purchased from participating dealers during the promotional period.    To learn more about the Toyota Rent a Car (TRAC) program, please visit 
    %a{href: 'http://www.Toyota.com/rental/faq.html'}
      Toyota.com/rental/faq.html
  %p
    %strong 2)  Why was Scion Swap designed?
    %p
      Scion Swap was designed to offer vehicle flexibility to meet the needs of our Scion Customers diverse lifestyles.  We recognize that sometimes during the year a Scion Customer might have the need for a different car, like the utility of a truck, or the mpg of a hybrid, or maybe just to try another car for future consideration.  
  %p
    %strong 3)  What is the time period for this promotion?
  %p
    Scion Swap Customers must purchase their new Scion model at one of the participating Dealers between June 1, 2013 and November 30, 2013.  The 10 complimentary days will expire after 12 months of the purchase of their new car.  For example, if a Scion Customer purchases on July 4, 2013 they will have until July 3, 2014 to use their 10 days.  After this date all remaining Scion Swap rental days will expire.
  %p
    %strong 4)  Is there a minimum age requirement to rent a vehicle?
  %p
    The minimum age to rent a TRAC vehicle is 21 in most states.  However, the minimum rental age in New York state is 18.  Therefore, any Scion Swap customer 18-20 years old who purchases or leases in New York will be limited to redeeming their 10 complimentary TRAC rental days at any of the participating New York state dealers only, and are ineligible to rent a TRAC vehicle in any other participating Scion Swap states pursuant to TRAC minimum age requirements.  
  %p
    %strong 5)  If I did not purchase a car during these dates how do I qualify for Scion Swap?
  %p
    At this time, this promotion is offered to only those customers who have purchased a Scion from one of the participating dealers during the time frame mentioned.  
  %p
    %strong 6)  Which cities and dealers is Scion Swap offered in?
  %p
    Currently Scion Swap is a promotion offered in 3 market areas:  Long Island, NY; Miami, FL; and Houston, TX.  Please check 
    %a{href: 'http://www.scion-swap.com'} www.scion-swap.com
    for a list of participating dealers as this list may change.
  %p
    %strong 7)  What models are offered for rent?
  %p
    Currently, Scion Swap dealers are offering rentals of Camry, Sienna, Tacoma and Prius.  However, some dealers may have additional models available.  Model availability will vary by City, Dealer and requested rental period.  Please consult 
    %a{href: 'http://www.scion-swap.com'} www.scion-swap.com
    to check a particular participating dealer’s inventory.  
  %p
    %strong 8)  What if a particular car that I am interested in is not available during my preferred dates?
  %p
    Scion Swap inventory will vary by Dealership.  We recognize that there will be times when your primary car of choice may not be available.  If you cannot find a different model to meet your needs at that particular Dealer you can check another participating Dealer’s Scion Swap inventory.
  %p
    %strong 9)  If I’m traveling to one of the participating cities can I use my Scion Swap days at an “out-of-town” Dealer?
  %p
    Yes, you may use your Scion Swap rental days at ANY participating Scion Swap dealer.  Please check
    %a{href: 'http://www.scion-swap.com'} www.scion-swap.com
    for a list of participating dealers as this list may change.
  %p
    %strong 10) Why aren’t there more Scion Swap Dealers to choose from?
  %p
    We hope to add additional Scion Swap Dealers in other cities during 2013 and 2014.  Please check
    %a{href: 'http://www.scion-swap.com'} www.scion-swap.com
    for a list of participating dealers as this list may change.
  %p
    %strong 11) Do I need to leave my Scion when I pick up my Scion Swap rental from the Dealer?
  %p
    No, your car does not need to be present to pick up your Scion Swap rental.  However, you might find this the perfect opportunity to have your Scion’s regularly scheduled complimentary Scion Service Boost maintenance performed by your Scion Swap dealer.
  %p
    %strong 12) Can I add more rental days?
  %p
    If you are currently a Scion Swap Member you are granted a total of 10 complimentary Scion Swap rental days.  You are not given the option of purchasing additional Scion Swap days.  However, if you have reached the limit of your 10 complimentary days and are still within your 12 months of account activation the reservation system will allow  an extended reservation using additional days that will be charged to you by the dealer for payment.  These additional days must be used to extend the rental period of a current reservation.  For example, if you have three complimentary days remaining and you want to reserve a vehicle for a total of five days, the system will allow you to make the five day reservation with the stipulation that the dealer will charge you for the additional two days.  You must agree to this additional payment online at the time you make the reservation.  After 12 months of Scion Swap membership your account will expire, or once your 10 complimentary days have been redeemed.
  %p
    %strong 13) Can I give away my complimentary Scion Swap days to family / friends?
  %p
    No, Scion Swap is a membership meant for the new Scion buyer and is non-transferable.  If the Scion is sold within the 12-month period, any remaining complimentary rental days will be forfeited.
  %p
    %strong 14) What type of documentation is needed for the rental pick-up?
  %p
    In order to participate in Scion Swap each member will be required to show a valid Driver’s License and proof of car insurance to pick up their rental.  You will also need to provide the dealer with a major credit card in the renters name.
  %p
    %strong 15) Is the Scion Swap rental covered under my insurance?
  %p
    Each Scion Swap rental vehicle  is covered under the participating dealer’s TRAC insurance, however each Scion Swap Member must have their own car insurance to participate in Scion Swap, just like any TRAC rental.
  %p
    %strong 16) Are there geographical or mileage restrictions on the rental?
  %p
    Please check with the dealer you are renting from if you plan to take the vehicle out of state, out of the country, or on a long road trip.  Some dealers may have mileage restrictions.
  %p
    %strong 17) Is roadside assistance included in my Scion Swap rental?
  %p
    Yes, each Scion Swap rental is covered by the dealer’s TRAC 24-hour roadside assistance program.  Please be sure to review with your dealer at the time you pick up your rental.  The toll-free number for Roadside Assistance will be printed on your rental agreement.
  %p
    %strong 18) Can I add additional drivers to my Scion Swap rental?
  %p
    Yes, you may add an additional driver, provided they are with you when you pick up your rental, and they also qualify according to TRAC rules, which means they must also show a valid driver’s license and proof of insurance and be at least 21 years of age (or 18 in New York).  All drivers must also sign the TRAC Rental Agreement.  
  %p
    %strong 19) What condition do I need to return the rental?
  %p
    Return each TRAC rental vehicle with a full tank of gas and in a clean, undamaged condition.  No smoking in the rentals.  As with any TRAC rental, you will be charged if the vehicle is returned with less than a full tank of gas, or has sustained damage during your rental period.  All TRAC rules apply for a Scion Swap rental.  Please check with your dealer prior to renting if you have any questions.
  %p
    %strong 20) How much notice must I provide if I cancel or modify my reservation?  
  %p
    A reservation may be cancelled without penalty if the reservation start day is two days or more away.  If a reservation is cancelled within the 2-calendar day period, the Member will be debited up to two days from their balance.  For example, a 5-day reservation cancelled within 1-calendar day of the reservation start date will have a debit of 2 days.  The remaining dates will be cancelled without penalty to the Member.
  %p
    A change to the reservation start date and duration is only available if the reservation start time is 2-calendar days or greater away from current date/time.  Within an active reservation, the Member has the ability to extend the End Date IF vehicle inventory permits during the requested extension period.  The Member must request the extension at 
    %a{href: 'http://www.scion-swap.com'}Scion-Swap.com
    , or may call the renting dealer directly to inquire if the rental may be extended.
  %p
    %strong 21) Who can I contact if I have additional comments or questions about the Scion Swap promotion?
  %p
    We welcome all comments and questions.  Please contact your Dealer or the Scion Customer Experience Center at 1.866.70.SCION.





