%p
  %i Last Updated Date:  June 1, 2013
%p
  These Terms of Use (the “Terms”) set forth the legally binding terms governing your access to and use of the 
  %a{href: 'http://www..scion-swap.com'}
    www..scion-swap.com
  website, associated web pages, interactive features and their respective contents and any other interactive content that links to the 
  %a{href: 'http://www..scion-swap.com'}www.scion-swap.com
website owned and/or operated by Wheelz, Inc. (hereinafter referred to as "Wheelz”), a third party provider of Toyota Motor Sales, USA, Inc. (hereinafter referred to as “Toyota”) (collectively, the “Sites”).  Any materials on the Sites are owned by Toyota or its affiliated companies, or licensed by Toyota from third parties and posted on the Sites.
%p
  These Terms apply to all persons who visit any of the Sites ("Visitors"), regardless of the Visitor’s level of participation.  In these Terms, "you" and "your" refer to each Visitor and his or her agents (unless the context requires otherwise), and "we", "us" and "our" refer collectively to Toyota.  These Terms explain our obligations to you, and your obligations to us in relation to the use of the Sites. By accessing and visiting any of the Sites you accept and agree to be bound by these Terms, any applicable Additional Terms (as defined below), and our Privacy Policy 
  %a{href: 'http://www.scion.com/privacy'}
    http://www.scion.com/privacy
%p
  %strong
    PLEASE READ THESE TERMS CAREFULLY.  THESE TERMS INCLUDE AN AGREEMENT TO MANDATORY ARBITRATION, WHICH MEANS THAT YOU AGREE TO SUBMIT ANY DISPUTE RELATED TO YOUR USE OF ANY OF THE SITES TO BINDING INDIVIDUAL ARBITRATION RATHER THAN PROCEED IN COURT.  IF YOU WANT TO OPT-OUT OF THIS MANDATORY ARBITRATION AGREEMENT, THE DISPUTES/ARBITRATION PROVISION BELOW DESCRIBES THE PROCEDURES YOU MUST FOLLOW TO DO SO. THE DISPUTES/ARBITRATION PROVISION ALSO INCLUDES A CLASS ACTION WAIVER, WHICH MEANS THAT YOU AGREE TO PROCEED WITH ANY DISPUTE INDIVIDUALLY AND NOT AS PART OF A CLASS ACTION.  THIS AGREEMENT ALSO INCLUDES A JURY WAIVER. DO NOT ACCESS OR USE ANY OF THE SITES IF YOU DO NOT AGREE TO THESE TERMS IN THEIR ENTIRETY.  
%p
  THE SITES ARE ONLY INTENDED FOR VIEWING IN THE CONTINENTAL UNITED STATES IF YOU ARE TWENTYONE (21) YEARS OR OLDER UNLESS IN THE STATE OF NEW YORK WHERE YOU MUST BE EIGHTEEN (18) YEARS OR OLDER. If you are not an intended viewer, kindly do not use or view any of the Sites.
%p
  We may at any time revise these Terms by updating these Terms.  The “Last Updated Date” at the top of this Agreement will indicate when the latest modifications were made.  To the fullest extent permitted under applicable law, your continued use of any of the Sites constitutes your agreement to any modified Terms, and you should therefore visit the Terms to review the current Terms from time to time.  Furthermore, unless explicitly stated otherwise, any new features or services that augment or enhance the Sites in the future shall be considered part of the Sites and subject to these Terms.  We reserve the right at any time and from time to time to interrupt, restrict, modify, suspend, discontinue, temporarily or permanently, any or all of the Sites (or any portion thereof), with or without notice to you, and you agree that Toyota shall not be liable to you or to any third party for any modification, suspension or discontinuance of any or all of the Sites.  Moreover, we may terminate these Terms for any or no reason, and with or without notice to you.  Your rights under these Terms will terminate automatically without notice from us if you fail to comply with any provision of these Terms.  Upon termination of these Terms, you shall cease all use of the Sites.  
%p
  Certain features of the Sites may require you to agree to additional terms and conditions, policies and disclaimers (collectively, “Additional Terms”), which are hereby incorporated by reference into these Terms unless expressly set forth otherwise in such Additional Terms.  If there is a conflict between these Terms and any Additional Terms, the Additional Terms will control with respect to the specific feature. 
%p
  NOTE THAT THESE TERMS APPLY ONLY TO THESE SITES; OTHERS PROVIDED BY TOYOTA’S DEALERS, DEALER ASSOCIATIONS AND DISTRIBUTORS MAY HAVE SEPARATE TERMS AND CONDITIONS THAT APPLY TO THE USE OF THOSE SITES.  
%p
  These Sites are for your personal, non-commercial use.  Any other use of the Sites requires the prior written consent of Toyota.
%p
  1.  DESCRIPTION OF THE SITES
  2. ACCOUNT REGISTRATION; SIGN UP TO RECEIVE INFORMATION 
  3.  OWNERSHIP AND USE OF THE SITES
  4.  RESTRICTIONS ON ACCESSING AND USING THE SITES
  5.  MOBILE SERVICES AVAILABLE THROUGH THE SITES
  6.  THIRD PARTY PRODUCTS AND SERVICES AND LINKS 
  7.  COPYRIGHT AGENT
  8.  OTHER COMPLAINTS AND COMMENTS TO TOYOTA
  9.  PRIVACY
  10.  INDEMNITY AND HOLD HARMLESS
  11.  DISCLAIMER OF WARRANTIES
  12.  LIMITATION OF LIABILITIES AND RELEASE OF LIABILITY
  13.  MISCELLANEOUS
  14.  DISPUTES/ARBITRATION
  15.  CONTACT US
%p
  1.  DESCRIPTION OF THE SITES.
%p
  The Sites contain information that allows you to reserve a rental vehicle from your participating dealership of choice in connection with the complimentary rental days you received in connection with the purchase of your vehicle.  All information provided on the Sites, including  Toyota Trademarks (as defined below), pictures,  digital images, , surveys, and other content (collectively, "Content"), are protected under copyright law and/or other federal and state laws. Content may be in the form of text, data,  graphics, images, pictures, photographs, videos, software or other forms now known or later invented.
%p
  The Toyota products and services described on the Sites contain uniquely American specifications and equipment and are offered only in the continental U.S.A. The promotional programs offered on the Sites are only available in the continental U.S.A. and may be limited to particular states as described by the terms of such programs. 
%p
  2.  ACCOUNT REGISTRATION; SIGN UP TO RECEIVE INFORMATION.
%p
  In order to reserve a rental vehicle and use your complimentary rental days, you must register on the Sites and create an account (“Account”).  When you register, you may be asked to provide your personally identifiable information, such as your name, address, phone number or email address ("Personal Information"). Please see our Privacy Policy 
  %a{href: 'http://www.toyota.com/help/privacy.html'} 
    http://www.toyota.com/help/privacy.html
  for more information on how we protect your Personal Information.
%p
  After registering and creating an Account you may  receive information about your upcoming reservation and remaining days to use complimentary rental days from Scion Swap by email.
%p
  You agree to provide true, accurate and complete information about yourself as prompted by the online or mobile forms at the time of registration and otherwise during the course of your use of the Sites.   If we have reasonable grounds (as determined by us in our sole discretion) to suspect that the Personal Information you provide for registration purposes is untrue, inaccurate or incomplete, we have the right to refuse, with or without notice, any and all current or future requests you make through the Sites AND/or to suspend or terminate your Account.
%p
  We shall have no liability associated with or arising from your failure to maintain accurate Personal Information in connection with your Account, including, but not limited to, your failure to receive critical information about Toyota and/or the Sites.
%p
  Your selection and use of an Account user name and password, and any other information required for security access and authentication purposes, are subject to these Terms.  You agree not to share your user name, password, and any security-related information with anyone.  You are responsible for all use of your Account and for ensuring that access to and use of your Account complies fully with these Terms.  You acknowledge and agree that any use of your Account through your user name, password and security information shall be deemed to be your actions which we may rely upon.  You are solely responsible for protecting the confidentiality and security of your Account.
%p
  3.  OWNERSHIP AND USE OF THE SITES.
%p
  Toyota or its affiliates own all right, title, and interest, and/or have a valid right to use and sublicense the Sites and all Content on the Sites, including, without limitation, all trademarks, service marks, logos, and trade names used on the Sites (collectively, “Trademarks”).
%p
  Toyota grants you a limited, non-exclusive, non-transferable, revocable right and license to access and use the Sites (including the Content and Mobile Services (as defined below)) for your own personal non-commercial use, subject to your compliance with these Terms, including, without limitation, the restrictions on use of the Sites.  Toyota may, in its sole discretion, suspend, discontinue or terminate this license to you at any time for any reason.  
%p
  Toyota reserves the right at any time and from time to time to modify, suspend, discontinue or permanently cancel any or all of the Sites’ operation, or portions thereof, with or without notice to you.  You acknowledge and agree that Toyota will not be liable to you or any third party for any such modification, suspension, discontinuation, or cancellation of any or all of the Sites’ operation.  
%p
  4.  RESTRICTIONS ON ACCESSING AND USING THE SITES.
%p
  As a condition to accessing and using the Sites in accordance with the license granted to you under these Terms, you agree to comply with the following rules: 
%ol{type: 'a'}
  %li You may not copy, download, distribute (including without limitation, forwarding to others), modify, publish, transmit, display, sell, license, use, reuse, or create derivative works of any of the Content or other material displayed on the Sites, including without limitation, any trademark of Toyota or its affiliated companies, for any purpose whatsoever without our written consent and/or the consent of any third party we deem necessary; 
  %li You may not access or use any of the Sites in any way that could or is intended to damage or impair the operation of the Sites, or any Content of or material displayed on any of the Sites, or any server or network underlying the Sites, or in any way that interferes with anyone else's use and enjoyment of any of the Sites; 
  %li You may not frame or use framing techniques to enclose any part of the Sites without Toyota’s prior written consent; 
  %li You may not access or use any of the Sites in any way that could or is intend to threaten, defame, abuse, assault, stalk, harass or otherwise violate the rights of any other person or entity, including without limitation, their rights of privacy or publicity; 
  %li You may not “spam” others or “phish” for, collect or store personal information about others;
  %li You may not access or attempt to access any data, information, system, or servers on which the Sites are hosted or modify or alter the Sites in any way; 
  %li You may not transmit or broadcast any commercial messages, text, photographs, video or audio content to or through any of the Sites; and
  %li You may not link or “deeplink” to, frame, or otherwise, reproduce any of the Sites without our prior consent, except that you may identify Toyota products by name or link to the Sites if you comply with the Guidelines for External Sites set forth below. 
%p
  In addition, you agree to comply with all applicable laws, regulations and other legal requirements relating to your access to and use of the Sites.
%p
  You agree to immediately notify us if you suspect illegal, fraudulent or abusive activity, or any activity in violation of these Terms, including any unauthorized access to your Account.  If you notify us or if we otherwise suspect such activity, you agree to cooperate with us in any investigation and to use any prevention measures we prescribe.
%p
  5.  MOBILE SERVICES AVAILABLE THROUGH THE SITES.
%p
  If permitted or available through any feature or service on any of the Sites, you (a) upload content to any of the Sites or download content from any of the Sites via a mobile device, (b) receive and reply to messages from or on any of the Sites, (c) browse any of the Sites from your mobile device. (collectively the “Mobile Services”), you must have a mobile communications subscription (or have the consent of the subscriber of such mobile device) for the necessary carrier services with a participating carrier or otherwise have access to a mobile communications network through which Toyota makes the Mobile Services available.  You are responsible for any and all service fees associated with any such mobile access, and all applicable data fees. 
%p
  Your use of certain of the Mobile Services may incur charges and be subject to other terms from Toyota, which charges and other terms will be provided to you via separate terms and conditions for the applicable Mobile Services.  Additionally, please check your wireless plan because your carrier’s per-minute, text messaging, and data or other charges may apply. You must provide at your own expense the equipment and wireless connections needed for you to use the Mobile Services, and you are solely responsible for any costs you incur to access the Mobile Services. You should keep in mind that the use of the Mobile Services to send content to another person via e-mail or SMS (Short Message Service, or “text messaging”) may result in wireless charges to both the sender and the receiver.
%p
  6.  THIRD PARTY PRODUCTS AND SERVICES AND LINKS.
%p
  The Sites may contain links to other web sites ("Third Party Sites") as well as articles, photographs, text, graphics, pictures, designs, music, sound, video, information, applications, software and other content or items belonging to or originating from third parties (the "Third Party Applications, Software or Content").  Such Third Party Sites and Third Party Applications, Software or Content are not investigated, monitored or checked for accuracy, appropriateness, legality, timeliness, authenticity, reliability, or completeness by us, and none of the Toyota Entities (as defined below) are responsible for any Third Party Sites accessed through the Sites or any Third Party Applications, Software or Content posted on, available through or installed from the Sites, including without limitation, the content, accuracy, offensiveness, opinions, reliability, legality, privacy practices or other policies of or contained in the Third Party Sites or the Third Party Applications, Software or Content. Inclusion of, linking to or permitting the use or installation of any Third Party Site or any Third Party Applications, Software or Content does not imply approval or endorsement thereof by us (or any of the other Toyota Entities).
%p
  If you decide to leave any of the Sites and access the Third Party Sites or to use or install any Third Party Applications, Software or Content, you do so at your own risk and you should be aware that, unless otherwise indicated, these Terms and any other Toyota terms and policies no longer govern. You should review the applicable terms and policies, including privacy and data gathering practices, of any Third Party Site and any Third Party Applications, Software or Content to which you navigate from any of the Sites or relating to any applications you use or install from any of the Sites. 
%p
  We may also make available or provide access to products, services, or applications of Third Parties. Such products, services, and applications shall be purchased and/or obtained directly from such Third Party. NO TOYOTA ENTITY SHALL BE A PARTY TO, OR IN ANY WAY BE RESPONSIBLE FOR, ANY TRANSACTION CONCERNING PRODUCTS, SERVICES, OR APPLICATIONS MADE AVAILABLE FROM SUCH THIRD PARTIES OR FOR ANY CONTENT OR INFORMATION PRESENTED IN CONNECTION WITH ANY PRODUCTS, SERVICES OR APPLICATIONS OF THIRD PARTIES. NO TOYOTA ENTITY SHALL BE RESPONSIBLE FOR THE CONTENTS OF ANY WEBSITE OR MOBILE SITE LINKED TO THE SITES, AND THE FACT SUCH LINKS ARE PROVIDED ON THE SITES DOES NOT INDICATE OUR APPROVAL OR ENDORSEMENT OF ANY MATERIAL CONTAINED ON ANY LINKED WEBSITE OR MOBILE SITE. YOUR CONNECTION TO AND USE OF ANY SUCH LINKED WEBSITE OR MOBILE SITE IS AT YOUR OWN RISK.
%p
  Any Visitor including a link to the Sites or any Content or other information on any Third Party Site or in any Third Party Applications, Software or Content must follow the Guidelines for External Sites set forth herein.  
%p
  If you would like to use Content or information or provide a link to any part of any of the Sites from any Third Party Site or in any Third Party Applications, Software or Content, you must read and agree to comply with the following guidelines and all applicable laws.
%p
  %i External Third Party Site Use of Toyota Information
%p
  Third Party Sites must have prior written approval before using any text, trademarks, graphics, photographs, or other materials or content from any Toyota source, such as any of the Sites, and other websites, brochures, or other media operated or provided by any Toyota Entity.
%p
  Third Party Sites and Third Party Applications, Software or Content may use brand or model names in website text only to the extent reasonably necessary to identify Toyota products. Any other use of any Toyota Trademark is prohibited without prior written Toyota approval. 
%p
  %i External Third Party Site Naming Guidelines
%p
  Third Party Sites and Third Party Applications, Software or Content may not use a brand, product name or other confusingly similar word or group of letters in a domain name that is similar to any Trademark of Toyota and/or its affiliated companies) without prior written Toyota approval. 
%p
  %i No Misrepresentation
%p
  Third Party Sites and Third Party Applications, Software or Content must not in any way imply that Toyota is endorsing it or its products or services; must not misrepresent its relationship with Toyota; must not present false information about Toyota; must not be a website that infringes any intellectual property or other right of any person or that otherwise does not comply with all relevant laws and regulations; and must not be a website that contains content that could be construed as distasteful, offensive or controversial.
%p
  %i Linking to any of the Sites
%p
  Third Party Sites and Third Party Applications, Software or Content may not use links to any part of any of the Sites in any way that implies sponsorship by or affiliation with Toyota. Furthermore, when linking to any part of the Sites, the Third Party Site and Third Party Applications, Software or Content may not appear as a frame within the applicable page(s) of the Sites that provides the link or appear in any way that makes the destination site appear to be content belonging to the site containing the link.
%p
  %i External Third Party Site Disclaimer
%p
  Any Third Party Site and Third Party Applications, Software or Content using Content, information from or linking to any part of the Sites must include a prominently displayed disclaimer on the home page stating that such Third Party Site is not authorized by or affiliated with Toyota.
%p
  7.  COPYRIGHT AGENT.
%p
  We respect the intellectual property of others, and we ask all Visitors to the Sites to do the same. If you are the owner of a United States copyright and you believe that your work has been copied on any of the Sites in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please contact and provide our Copyright Agent with the following information:
  %ol{type: 'a'}
    %li a physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest; 
    %li a description of the copyrighted work or other intellectual property that you claim has been infringed; 
    %li a description of where the material that you claim is infringing is located on the Sites; 
    %li your address, telephone number, and e-mail address; 
    %li a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and 
    %li a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.
%p
  Our agent for notice of claims of copyright or other intellectual property infringement can be reached as follows:
%p
  By mail:
  %br
  Copyright Agent
  %br
  c/o Scion Customer Experience Center – Mailstop WC13
%p
  19001 South Western Avenue 
  %br
  Torrance, California 90501
%p
  By phone: 1-866-70-SCION
%p
  By e-mail via this link: 
  %a{href: 'http://scion.custhelp.com/app/ask'}http://scion.custhelp.com/app/ask
%p
  8.  OTHER COMPLAINTS AND COMMENTS TO TOYOTA.
%p
  Communication to Toyota with respect to any product or service complaint should be directed to the applicable Toyota dealer or to Scion’s Customer Experience Center at 1-866-70-SCION, and not through the Sites.  Please do not submit ideas or suggestions regarding current or future Toyota products, promotions or advertising.  For legal reasons, we do not accept such unsolicited ideas or suggestions.
%p
  %a{name: 'privacy'}
  9.  PRIVACY.
%p
  You should review our Privacy Policy at 
  %a{href: 'http://www.scion.com/privacy'}http://www.scion.com/privacy 
  for an explanation of our collection and use of personal information, and our tracking and targeting of your actions on and/or through the Sites, before further using the Sites, as you will be bound by the terms of such Privacy Policy, which is incorporated herein by reference.
%p
  10.  INDEMNITY AND HOLD HARMLESS.
%p
  You agree to defend, indemnify and hold harmless Toyota and its parent, subsidiaries and affiliates, and their respective distributors, dealers, dealer associations and advertising and promotions agencies, licensors and contractors, together with each of their respective employees, agents, directors, officers and shareholders (collectively, "Toyota Entities", each a “Toyota Entity”), from and against all the liabilities, claims, damages and expenses (including reasonable attorneys' fees and costs) arising out of your use of the Sites, your breach or alleged breach of any of these Terms, or your breach or alleged violation of the patent, copyright, trademark, proprietary or other rights of third parties.
%p
  11.  DISCLAIMER OF WARRANTIES.
%p
  You understand and agree that your use of the Sites is solely at your own risk and that you will be solely responsible for any damage to your mobile device or computer or any other equipment or loss of data that may result from your use of the Sites.
%p
  The Sites and the Content are provided on an "AS IS" and "AS AVAILABLE" basis without any warranty of any kind, expressed, implied or statutory. WE SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
%p
  Toyota makes no warranties that the Sites or any Content or other material obtained through herein will meet your requirements, or that the Sites will be uninterrupted, timely, secure, non-infringing or error-free. You understand and agree that you are responsible for any and all charges, costs and/or expenses for access to or use of the Sites, including any Mobile Services. No advice or information, whether oral or written, obtained by you from us or through the Sites shall create any warranty not expressly made herein. You may not rely on any such information or advice. To the extent jurisdictions do not allow the exclusion of certain warranties, some of the above exclusions may not apply to you. We assume no liability or responsibility for any performance degradation, interruption or delays of any of the Sites, or errors or omissions in any Content or other materials on or through the Sites. We do not make any warranty or representation that your use of the material displayed on, or obtained through, the Sites is non-infringing of any rights of any third party.
%p
  Any decision or action taken by you on the basis of information or content provided on the Sites is at your sole discretion and risk. We are not responsible or liable for any such decision, or for the accuracy, completeness, usefulness, or availability of any content displayed, transmitted, or otherwise made available on the Sites.
%p
  12.  LIMITATION OF LIABILITIES AND RELEASE OF LIABILITY.
%p
  EXCEPT IN JURISDICTIONS WHERE SUCH PROVISIONS ARE RESTRICTED, YOU AGREE THAT THE ENTIRE LIABILITY OF ANY TOYOTA ENTITY TO YOU OR ANY THIRD PERSON, AND THAT YOUR OR ANY THIRD PERSON'S EXCLUSIVE REMEDY, IN LAW, IN EQUITY, OR OTHERWISE, WITH RESPECT TO THE SERVICE PROVIDED UNDER THESE TERMS OF USE AND/OR FOR ANY BREACH OF THESE TERMS IS SOLELY LIMITED TO THE AMOUNT OF FIFTY CENTS ($0.50). EXCEPT IN JURISDICTIONS WHERE SUCH PROVISIONS ARE RESTRICTED, NO TOYOTA ENTITY SHALL BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES EVEN IF THE RELEASED PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. TO THE EXTENT THAT A STATE DOES NOT PERMIT THE EXCLUSION OR LIMITATION OF LIABILITY AS SET FORTH HEREIN OUR LIABILITY IS LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW IN SUCH STATES.
%p
  YOU HEREBY RELEASE, DISCHARGE, INDEMNIFY AND HOLD HARMLESS EACH TOYOTA ENTITY FROM AND AGAINST ANY CLAIMS, DAMAGES, EXPENSES AND LIABILITY ARISING FROM OR RELATED TO ANY INJURIES, DAMAGES OR LOSSES TO ANY PERSON (INCLUDING DEATH) OR PROPERTY OF ANY KIND RESULTING IN WHOLE OR PART, DIRECTLY OR INDIRECTLY, FROM YOUR USE OF ANY OF THE SITES.
%p
  13.  MISCELLANEOUS.
%p
  (a) Notices And Announcements: Except as expressly provided otherwise herein, all notices to Toyota shall be in writing and delivered via overnight courier or certified mail, return receipt requested to: 
%p
  Scion Customer Experience Center – Mailstop WC13
  %br
  19001 S. Western Ave.
  %br
  Torrance, CA 90501 
%p
  (b) Severability: If any provision of these Terms are unlawful, void or unenforceable, that provision is deemed severable from these Terms and does not affect the validity and enforceability of any remaining provisions.
%p
  (c) Applicable Law:  These Terms and any disputes arising under or related to these Terms will be governed by the laws of the State of California, without reference to its conflict of law principles.    
%p
  (d) Entire Agreement: These Terms constitute the entire, complete and exclusive agreement between you and us regarding the Sites and supersedes all prior agreements and understandings with respect to the subject matter of these Terms.
%p
  (e) Waiver: The remedies of Toyota set forth in these Terms shall be cumulative and not alternative, and the election of one remedy for a breach shall not preclude pursuit of other remedies. Any failure by us, at any time or from time to time, to enforce any of our rights under these Terms shall not constitute a waiver of such right.
%p
  14.  DISPUTES/ARBITRATION.
%p
  PLEASE READ THIS PROVISION CAREFULLY.  IT INCLUDES AN AGREEMENT TO MANDATORY ARBITRATION, WHICH MEANS THAT YOU AGREE TO SUBMIT ANY DISPUTE RELATED TO YOUR USE OF ANY OF THE SITES TO BINDING INDIVIDUAL ARBITRATION RATHER THAN PROCEED IN COURT.  IF YOU WANT TO OPT-OUT OF THIS MANDATORY ARBITRATION AGREEMENT, THIS PROVISION DESCRIBES THE PROCEDURES YOU MUST FOLLOW TO DO SO.  THIS PROVISION ALSO INCLUDES A CLASS ACTION WAIVER, WHICH MEANS THAT YOU AGREE TO PROCEED WITH ANY DISPUTE INDIVIDUALLY AND NOT AS PART OF A CLASS ACTION.  THIS AGREEMENT ALSO INCLUDES A JURY WAIVER.  
%p
  It is Toyota’s goal that the Sites meet your expectations and that you are satisfied.  However, there may be instances when you have a problem or dispute that needs special attention.  In those instances, Toyota is committed to working with you to reach a reasonable resolution that satisfies you; however, we can only do this if we know about and understand your issue.  Therefore, for any problem or dispute that you may have with Toyota, you acknowledge and agree that you will first give Toyota an opportunity to resolve your problem or dispute.  This includes you first sending a written description of your problem or dispute to Scion, 19001 S. Western Ave., WC13, Torrance, CA 90509.  You then agree to negotiate with Toyota in good faith about your problem or dispute.  This should lead to resolution, but if for some reason your problem or dispute is not resolved satisfactorily within sixty (60) days after Toyota’s receipt of your written description of it, you agree to the further dispute resolution provisions below.  
%p
  You agree that the sole and exclusive forum and remedy for any and all disputes and claims that cannot be resolved informally and that relate in any way to or arise out of your use of any of the Sites and these Terms shall be final and binding arbitration, except to the extent that you have in any manner infringed upon or violated or threatened to infringe upon or violate any of the Toyota Entities’ or any third party patent, copyright, trademark, trade secret, privacy or publicity rights, in which case you acknowledge that arbitration is not an adequate remedy at law and that injunctive or other appropriate relief may be sought by the Toyota Entities and/or the applicable third party(ies). You and we acknowledge that the Agreement affects interstate commerce and that the Federal Arbitration Act and federal arbitration law apply to arbitrations under the Agreement (despite any other choice of law provision).
%p
  Arbitration under this Agreement shall be conducted by JAMS.  The arbitration shall be administered by JAMS pursuant to its Comprehensive Arbitration Rules and Procedures (pursuant to JAMS’ Streamlined Arbitration Rules and Procedures).  Judgment on the Award may be entered in any court having jurisdiction. This clause shall not preclude parties from seeking provisional remedies in aid of arbitration from a court of appropriate jurisdiction.  
  %strong You and we agree to pay our own fees, costs, and expenses, including those for any attorneys, experts, and witnesses.
  An arbitrator may award on an individual basis any relief that would be available in a court, including injunctive or declaratory relief and attorneys’ fees.  In addition, for claims under $75,000 as to which you provided notice and negotiated in good faith with Toyota as required above before initiating arbitration, if the arbitrator finds that you are the prevailing party in the arbitration, you will be entitled to a recovery of reasonable attorneys’ fees and costs.  Except for claims determined to be frivolous, Toyota agrees not to seek an award of attorneys’ fees in arbitration even if an award is otherwise available under applicable law.  As a limited exception to the agreement to arbitrate, you and we agree that you may take claims to small claims court, if your claims qualify for hearing by such court.  
%p
  %strong YOU HAVE A RIGHT TO OPT-OUT OF THIS ARBITRATION AGREEMENT.
  If you do not agree to this mandatory arbitration provision with regard to your use of any of the Sites, then prior to accessing and/or using any of the Sites, you may opt-out of this part of the Terms by calling the Scion Customer Experience Center at 1-866-70SCION or sending written notification to the following address:  
%p
  Scion, 19001 S. Western Ave., WC13, Torrance, CA 90509 
%p
  To the fullest extent permitted by applicable law, NO ARBITRATION OR OTHER CLAIM UNDER THIS AGREEMENT SHALL BE JOINED TO ANY OTHER ARBITRATION OR CLAIM, INCLUDING ANY ARBITRATION OR CLAIM INVOLVING ANY OTHER CURRENT OR FORMER VISITOR OF THE SITES, AND NO CLASS ARBITRATION PROCEEDINGS SHALL BE PERMITTED.  In the event that this
  %strong CLASS ACTION WAIVER
  is deemed unenforceable, then any putative class action may only proceed in a court of competent jurisdiction and not in arbitration.
%p
  WE BOTH AGREE THAT, WHETHER ANY CLAIM IS IN ARBITRATION OR IN COURT, YOU AND TOYOTA BOTH WAIVE ANY RIGHT TO A JURY TRIAL INVOLVING ANY CLAIMS OR DISPUTES BETWEEN US.
%p
  In no event shall any claim, action or proceeding by you related in any way to the Application or this Agreement be instituted more than three (3) years after the cause of action arose.  
%p
  15.  CONTACT US.  
%p
  If you have any questions, complaints or claims about any of the Sites, or if you are having any technical difficulties with any of the Sites, please email through 
  %a{href: 'http://scion.com/contact'}http://scion.com/contact  
  or call us at 866-70-SCION.  

