#dashboard
  #admin-dashboard
    #today-activity
      %h2 Today's Activity
      #pickups.activity-summary{ng: {show: 'pickupsTotal > 0'}}
        .remaining {{pickupsRemaining}} pick-ups remaining
        .total Of {{pickupsTotal}} reservations scheduled today
        %button#today-pickups{ng: {click: 'goToTodayPickups()'}} View
      #returns.activity-summary{ng: {show: 'returnsTotal > 0'}}
        .remaining {{returnsRemaining}} returns to process
        .total Of {{returnsTotal}} returns scheduled today
        %button#today-return{ng: {click: 'goToTodayReturns()'}} View
      #active.activity-summary{ng: {show: 'activeRentalsCount > 0'}}
        .remaining {{activeRentalsCount}} active rentals
        .total Out of {{fleetCount}} total cars in the fleet
        %button#today-rentals{ng: {click: 'goToTodayRentals()'}} View
    #member-support
      %h2 Member Support
      %label Find a customer record
      %form{ng: {submit: 'searchUser(memberSearch)'}}
        %input{type: 'search', placeholder: 'Name or email', ng: {model: 'memberSearch'}}
        %button{type: 'submit'} Search
      %a#all-reservations{ng: {click: 'goToReservations()'}} View all reservations
    #inventory
      %h2 Inventory Check
      %a#manage-inventory{ng: {click: 'manageInventory()'}} Manage Inventory
      #inventory-alert{ui: {if: 'inventoryAlert'}} {{inventoryAlert}}
      %table#inventory-week
        %tr
          %th
          %th{ng: {repeat: 'day in inventoryDays', class: '{negative: inventoryCount(null, day) < 0}'}}
            {{['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'][day.getDay()]}} {{day.getMonth() + 1}}/{{day.getDate()}}
        %tr#alert-indicators
          %td 
            %span.name {{dealership.name}}
            %br/
            %span {{dealership.street}}
          %td{ng: {repeat: 'day in inventoryDays', class: '{negative: inventoryCount(null, day) < 0}'}}
            %span{'ng-class' => '{closed: !dealership.is_open[day.getDay()], \'daily-inventory-status\': dealership.is_open[day.getDay()]}'}
        %tr{ng: {repeat: 'fleetGroup in dealership.fleet_groups|filter:{available_for_reservation:true}'}}
          %td{ng: {class: '{negative: inventoryCount(fleetGroup) < 0}'}} {{fleetGroup.make}} {{fleetGroup.model}}
          %td.inventory-count{ng: {repeat: 'day in inventoryDays', bind: 'inventoryCount(fleetGroup, day)', class: '{closed: !dealership.is_open[day], negative: inventoryCount(fleetGroup, day) < 0}'}}
    #dealership-details
      %h2 Dealership Details
      %a#change-dealership{ui: {if: 'isCurrentMemberSupport()'}, ng: {click: 'showChangeDealership()'}} Change Dealership
      #dealership-addr
        %div{ng: {include: "'/assets/dealerships/address.html'"}}
      %a#manage-dealership-link{ng: {click: 'manageDealership()'}} Edit
      #rental-hours
        %h4 Rental Hours
        .hours-summary{ng: {repeat: 'summary in rentalHours'}} {{summary.days}}: {{summary.label}}
        %a#manage-calendar{ng: {click: 'manageCalendar()'}} Manage availability calendar
#dealership-select{'ui-if' => 'isCurrentMemberSupport', modal: 'changeDealership.show', options: 'changeDealership.options'}
  .modal-header
    %h3
      Active Dealers
      %button.close{href: '#', ng: {click: 'closeChangeDealership()'}} &times;
  .modal-body
    %ul#dealership-list
      %li{ng: {repeat: 'dealership in changeDealership.dealerships'}}
        %input{type: 'radio', id: 'dealership{{dealership.id}}', value: '{{$index}}', ng: {model: 'changeDealership.selected', change: 'selectDealership(dealership)'}}
        %label.address{for: 'dealership{{dealership.id}}', ng: {include: "'/assets/dealerships/address.html'"}}
    #dealership-map{ui: {map: 'changeDealership.gmap', options: 'changeDealership.mapOptions', event: "{'map-idle': 'changeDealership.onDealershipMapIdle()'}"}}
  .modal-footer
    %button.btn-primary{ng: {click: 'closeChangeDealership(true)'}} Select
    %button{ng: {click: 'closeChangeDealership()'}} Cancel
