#member-dashboard
  #search
    #search-overlay
      %h2
        Start a&#160;
        %strong>SCION
        %i<SWAP
      .container
        %form{'ui-if' => 'hasRemainingCredit()', ng: {submit: 'doSearch()'}}
          .search-field.location
            %label Find a car near
            %input#city{type: 'text', ng: {model: 'search.location'}, 'auto-complete' => true, 'ui-items' => 'dealershipNames', required: true}
          .search-field.search-date
            %label Pick up
            .input-append
              %input#pickup{type: 'text', 'ui-date' => '{defaultDate: 2, minDate: 2}', 'ui-date-format' => 'yy-mm-dd', ng: {model: 'search.fromDate'}, required: true}
              %i.icon-calendar.add-on
          .search-field.search-date
            %label Drop off
            .input-append
              %input#to_date{type: 'text', 'ui-date' => '{defaultDate: 2, minDate: 2}', 'ui-date-format' => 'yy-mm-dd', ng: {model: 'search.toDate'}, required: true}
              %i.icon-calendar.add-on
          .search-field.submit
            %label &#160;
            %input{type: 'submit', value: 'Search'}
      #where-to-look{'ui-if' => 'hasRemainingCredit()'}
        Not sure where to look?
        %a{href: Rails.application.routes_url_helpers.browse_path} Browse participating dealerships
  #user-activity
    %h3 Rewards summary
    .content-box
      #rewards-summary
        #balance-expired{ng: {show: 'currentUser.remainingCredits() == 0'}} Your balance has expired
        #available{'ng-show' => 'hasRemainingCredit()'}
          {{currentUser.availableCredits()}} rental days
          .rewards-caption{ng: {repeat: 'credit in currentUser.credits'}}
            %span{ng: {show: 'currentUser.credits.length > 1'}} {{credit.credits}} days
            awarded {{awardDate(credit)}}
        .minus{'ng-show' => 'hasRemainingCredit()'} -
        #unavailable{'ng-show' => 'hasRemainingCredit()'}
          {{currentUser.usedCredits()}} rental days used
          .rewards-caption{ng: {show: 'currentUser.usedCredits() == 0'}} search for a car above to get started
        .equals{'ng-show' => 'hasRemainingCredit()'} =
        #remaining{'ng-show' => 'hasRemainingCredit()'}
          {{currentUser.remainingCredits()}} days remaining
          .rewards-caption{ng: {repeat: 'credit in currentUser.credits'}} {{awardExpiration(credit)}}
      #transaction-history
        #view-history{'ng-class' => '{"history-open": transactionHistoryVisible}'}
          %a.btn{ng: {click: 'transactionHistoryVisible=!transactionHistoryVisible'}}
            %i.icon-play
            View detailed transaction history
        #history{'ng-show' => 'transactionHistoryVisible'}
          %table
            %tr
              %th Date
              %th Transaction Type
              %th Reward
              %th Balance
            %tr{ng: {repeat: 'transaction in currentUser.transactions'}}
              %td {{transaction.date | date}}
              %td 
                {{transaction.summary}}
                %a{ng: {show: 'transaction.reservation_id != null', href: "/reservations/{{transaction.reservation_id}}"}} - {{transaction.reservation_label}}
              %td {{transactionCredit(transaction)}}
              %td {{transaction.balance}} rental days
  #upcoming-reservations{ng: {show: 'currentUser.upcoming_reservations.length > 0'}}
    %h3 Upcoming reservations
    .content-box
      .reservation{ng: {repeat: 'reservation in currentUser.upcoming_reservations'}}
        .reservation-details
          %h4 Reservation {{reservation.number}}
          %img{ng: {src: '{{reservation.fleet_group.image_url}}'}}
          .dealership-info{ng: {include: "'/assets/dealerships/address.html'"}, onload: 'dealership = reservation.dealership'}
          %dl.reservation-details
            %dt Pick up:
            %dd {{reservation.start_date}}
            %dt Drop off:
            %dd {{reservation.end_date}}
            %dt Required rewards:
            %dd {{reservation.credits}} days
            %dt Payment:
            %dd {{reservation.payment | currency}}
          .reservation-actions{ng: {click: 'reservation_actions_$index_visible=!reservation_actions_$index_visible'}}
            %a Actions
            %ul.actions-menu{ng: {show: 'reservation_actions_$index_visible'}}
              %li
                %a{ng: {click: 'viewReservationDetails(reservation)'}} View Details
              %li
                %a{ng: {click: 'modifyReservation(reservation)'}} Modify Reservation
              %li
                %a{ng: {click: 'cancelReservation(reservation)'}} Cancel Reservation
