%p Hello #{@user.first_name},
%p
  Your 10 complimentary ScionSwap rental days are waiting for you. To activate your account, click here: 
  %a{href: user_confirmation_url(:confirmation_token => @user.confirmation_token)}= user_confirmation_url(:confirmation_token => @user.confirmation_token)
%p
  Your complimentary rental days are good for 1 year from when you purchased your new Scion. 
  Be sure to use them before #{@user.purchases.map(&:expiry_date).first.strftime('%m/%d/%Y')}!
- if @is_second_reminder
  %p Don't worry, we won't remind you again for a while.