%p Hello #{@user.first_name},
%p
  Your #{@credits_expiring} complimentary rental days through ScionSwap will expire in 30 days (1 year from your
  vehicle purchase).
  =link_to 'Click here', root_url
  to log in and make a reservation
%p Please note, your final reservation must be completed before #{@expiration_date.strftime("%m/%d/%Y")}.
%p
  If you have any questions, contact Scion's Customer Experience Center at 1-866-70-SCION.
