%p Hello #{@user.first_name}
%p
  Your recent ScionSwap rental activity and current balance are shown below.
%table#monthly-activity-history.monthly-activity-history
  %tr
    %th Date
    %th Transaction Type
    %th Reward
    %th Balance
  -@user.transactions.each do |transaction|
    %tr
      %td #{transaction[:date].strftime('%m/%d/%Y')}
      %td 
        #{transaction[:summary]}
        -if transaction[:reservation_id].present?
          \- 
          =link_to transaction[:reservation_label], reservation_url(transaction[:reservation_id])
      %td #{transaction[:credits].abs} rental days #{transaction[:credits] > 0 ? "awarded" : "redeemed"}
      %td #{transaction[:balance]} rental days
%p You have #{@user.credits_remaining} complimentary rental day#{'s' if @user.credits_remaining > 1} available.
%p 
  We hope you're enjoying your experience with ScionSwap. If you have any questions, contact Scion's 
  Customer Experience Center at 1-866-70-SCION
