%p Hello #{@user.first_name},
%p
  Your ScionSwap is now active!  You can log in at any time with your email address and password.
- if @user.is_member?
  %p
    If you have any questions while using ScionSwap, please visit the
    %a{href: 'http://www.scion-swap.com/faq'} FAQs page
    to get answers and support.
-else
  %p
    If you need more information or assistance with your account, contact Wheelz PitCrew at pitcrew@wheelz.com or 1-855-4WHEELZ.