%header
  %h3 Reservation &#35;{{reservation.number}}
.reservation-details{ng: {show: 'reservation.rental_agreement_id'}}
  TRAC Rental Agreement &#35;{{reservation.rental_agreement_id}}
.reservation-details
  .detail {{reservation.user.first_name}} {{reservation.user.last_name}}
  .detail {{reservation.user.email}}
#reservation-vehicle
  %img{ng: {src: '{{reservation.fleet_group.image_url}}'}}
.reservation-details
  .detail
    .field-label {{reservation.fleet_group.make}} {{reservation.fleet_group.model}}
  .detail
    .field-label Dealership:
    {{reservation.dealership.name}}
  .detail
    .field-label Pick up:
    {{reservation.start_date}}
  .detail
    .field-label<
      Drop off
      %span{ng: {show: 'reservation.dropoff'}}> (scheduled)
      \:
    {{reservation.end_date}}
  .detail{ng: {show: 'reservation.dropoff'}}
    .field-label Drop off (actual):
    {{reservation.dropoff | date:'yyyy-MM-dd h:mm a'}}
  .detail{ui: {if: 'reservation.isCancelled()'}}
    .field-label Cancelled at:
    {{reservation.cancelled_at | date:'short'}}
.reservation-details
  .detail
    .field-label Rewards debited:
    {{reservation.credits}} days
  .detail{ng: {class: 'paymentDueClass'}}
    .field-label Payment due:
    {{reservation.payment | currency}}
  .detail#penalty-credits{ng: {show: 'reservation.penalty.lateReturn && reservation.penalty.lateReturn.credits > 0'}}
    .field-label Penalty days:
    {{reservation.penalty.lateReturn.credits}}
.reservation-details
  .detail
    .field-label Rewards balance:
    .user-credits
      %div{ng: {repeat: 'credit in reservation.user.credits'}}
        {{creditBalance(credit)}} days (expires {{creditExpiration(credit) | date:'MM/dd/yyyy'}})
