#dashboard
  #admin-dashboard
    #reservations
      %header
        #reservation-header
          %h3 Reservations
          %select#status-select{ng: {model: 'reservationStatus', options: 'value.label for value in statusOptions'}}
        #filter-dates
          .control-group
            %label Pick up
            %input{'ui-date' => true, ng: {model: 'pickupFilter'}}
            %i.icon-calendar
          .control-group
            %label Drop off
            %input{'ui-date' => true, ng: {model: 'dropoffFilter'}}
            %i.icon-calendar
        #filter-member.control-group
          %label Member record
          %input{placeholder: 'Name, email or reservation #', ng: {change: 'sortingReservations()' , model: 'memberFilter'}}
        
      #no-reservations{ng: {show: 'loadingComplete && selectedReservations().length == 0'}} No reservations to show
      #loading-reservations{ng: {hide: 'loadingComplete'}}= image_tag('/images/graySpinner.gif')
      %table#reservation-list.actionable-list{ng: {show: 'selectedReservations().length > 0'}}
        %tr
          %th Reservation #
          %th.sortable{ng: {click: "reservationSort('user.last_name')", class: "sortIcon('user.last_name')"}} Member Name
          %th Vehicle
          %th.sortable{ng: {click: "reservationSort('start_date')", class: "sortIcon('start_date')"}} Pick up
          %th.sortable{ng: {click: "reservationSort('end_date')", class: "sortIcon('end_date')"}} Drop off
          %th Status
          %th.actions
        %tr{ng: {repeat: 'reservation in selectedReservations() | orderBy:reservationPredicate:reverse', class: '{offPage:!isOnPage($index)}'}}
          %td {{reservation.number}}
          %td {{reservation.user.first_name}} {{reservation.user.last_name}}
          %td {{reservation.fleet_group.make}} {{reservation.fleet_group.model}}
          %td {{reservation.start_date}}
          %td {{reservationEndDate(reservation) | date:'yyyy-MM-dd'}}
          %td {{reservation.status()}}
          %td.actions
            %a{ng: {click: 'reservationActionMenu$index=!reservationActionMenu$index'}}
              %i.icon-play
            %ul{ng: {show: 'reservationActionMenu$index'}}
              %li{'ng-show' => 'canEnd(reservation)'}
                %a{ng: {click: 'endReservation(reservation)'}} End Reservation
              %li{'ng-show' => 'canEdit(reservation)'}
                %a{ng: {click: 'editReservation(reservation)'}} Extend Reservation
              %li
                %a{ng: {click: 'viewReservation(reservation)'}} View Reservation Details
      %div{pagination: 'true', 'num-pages' => 'reservationPages', 'current-page' => 'reservationPage'}
