#reservation-show
  %a#reservations-link{ng: {href: "/users/dashboard"}, ui: {if: 'isCurrentMember()'}} Back to reservations
  %a#reservations-link{ng: {href: "/dealerships/{{reservation.dealership.id}}/reservations"}, ui: {if: '!isCurrentMember()'}} Back to 
  %div{ng: {include: "'/assets/reservations/_details.html'"}}
  .reservation-dialog
    .headline Are you sure you want to cancel this reservation?
    .reservation-penalty{ui: {if: 'penalty.cancellation && (isCurrentMemberSupport() || isCurrentDealerRep())'}}
      .headline Late cancellation penalty applies
      Because you are canceling this reservation within two days of the reservation start date, a penalty
      of {{penalty.cancellation}} reward days will be deducted from the customer's account
      .waive-penalty
        %input#waive-penalty{type: 'checkbox', 'ng-model' => 'reservation.waive_cancellation_penalty'}
        %label{for: 'waive-penalty'} Waive the cancellation penalty for this customer
    #cancel-actions
      %button.btn-primary{ng: {click: 'doCancelReservation()'}} Yes, cancel this reservation
      %button{ng: {click: 'cancelCancel()'}} No, keep this reservation