#reservation-edit
  %div{ng: {include: "'/assets/reservations/_details.html'"}}
  %form{ng: {submit: 'updateReservation()'}, ui: {if: 'true'}}
    .reservation-date{ng: {class: '{active: reservation.isActive()}'}, ui: {if: '!changesSubmitted'}}
      %label Pick up
      %input{:type=>'text', 'ui-date' => true, 'ui-date-format' => 'yy-mm-dd', required: true, ng: {model: 'reservationEdit.start_date'}, ui: {if: '!reservation.isActive()'}}
      %span{ng: {bind: 'reservation.start_date'}, ui: {if: 'reservation.isActive()'}}
    .reservation-date{ui: {if: '!changesSubmitted'}}
      %label Drop off
      %input{:type=>'text', 'ui-date' => true, 'ui-date-format' => 'yy-mm-dd', required: true, ng: {model: 'reservationEdit.end_date'}}
    .payment-required{ui: {if: 'requirePayment()'}}
      .headline Payment required
      This reservation request exceeds the number of days remaining in the customer's reward balance. 
      Please tick the box below to confirm that you understand that the customer will need to pay the dealership
      for the number of days not covered by their rewards balance
      .acknowledge-payment
        %input#acknowledge-payment{type: 'checkbox', name: 'payment', 'ng-model' => 'paymentAcknowledged', required: true}
        %label{for: 'acknowledge-payment'} Yes, I told the customer that they are required to pay the dealership a per-day rate upon return
    #reservation-actions
      %button#check-availability{ng: {click: 'checkAvailability()'}, ui: {if: '!changesSubmitted'}} Check Availability
      %input{type: 'submit', value: 'Update Reservation', ui: {if: 'changesConfirmed'}}
      %button{ng: {click: 'cancelChanges()'}} Cancel date change
  #new-model{ng: {show: 'differentAvailableModels'}}
    %h3 Select a different model
    .model{ng: {repeat: 'fleet_group in differentAvailableModels'}}
      .model-header
        {{fleet_group.make}} {{fleet_group.model}}
        %button{ng: {click: 'selectFleetGroup(fleet_group)'}} Select
      .model-details
        %img{ng: {src: '{{fleet_group.image_url}}'}}
        %label Description
        {{fleet_group.description}}
