#reservation-review
  #reservation-summary
    #reservation-description
      %h2 Reserve your car
      %h3 {{reservation_make_model}}
      %dl#reservation-details
        %dt#lbl-pickup Pick up:
        %dd#pickup {{reservation.start_date}}
        %dt#lbl-dropoff Drop off:
        %dd#dropoff {{reservation.end_date}}
        %dt#lbl-dealership
        %dd#dealership{ng: {include: "'/assets/dealerships/address.html'"}}
        %dt#lbl-avail-credits Available rewards:
        %dd#avail-credits {{reservationUser.remainingCredits()}}
        %dt#lbl-redeemed-credits Required rewards:
        %dd#redeemd-credits {{reservationCredits}}
        %dt#lbl-payment-due{ng: {show: 'reservation.payment'}} Payment due:
        %dd#payment-due{ng: {show: 'reservation.payment'}} {{reservation.payment | currency}}
    #reservation-vehicle
      %img{ng: {src: '{{reservation.fleet_group.image_url}}'}}

  #future-cancellation-acknowledgement{ui: {if: 'reservation.future_cancellations'}}
    %h5 Entitlement shortage warning!
    If you complete this reservation, there will not be sufficient entitlement days for the reservations below. They will be cancelled.
    %ul
      %li{ng: {repeat: 'futureRes in reservation.future_cancellations'}}
        {{futureRes.fleet_group.make}} {{futureRes.fleet_group.model}} on {{futureRes.start_date | date}} - {{futureRes.end_date | date}}
    #cancellation-acknowledgement
      %input{type: 'checkbox', ng: {model: 'acknowledgments.cancellations'}} 
      I agree to cancel
      %span#cancellations-count{'ng-pluralize' => true, count: 'reservation.future_cancellations.length', when: "{'1': 'this reservation', 'other': 'these reservations'}"} 
  #payment-acknowledgment{ui: {if: 'reservation.payment > 0'}}
    %h5 Payment required
    Please check the box below to indicate your understanding that this reservation request exceeds the number of 
    days in your rewards balance. You will need to pay the dealership for rental days not covered by your rewards 
    balance.
    #member-acknowledgment
      %input{type: 'checkbox', ng: {model: 'acknowledgments.payment'}}
      Yes, I agree to pay a per-day rate of $50.00, payable at the dealership, when I return my rental vehicle

  #reservation-errors{ng: {show: 'reservationErrors'}}
    %div{ng: {repeat: 'error in reservationErrors'}} {{error}}
  #pickup-instructions
    %strong Pick up instructions
    %ul
      %li Bring your valid driver’s license, your proof of car insurance, and a major credit card.  Even though Scion is paying the daily rental fee for your 10 complimentary rental days, you will still be responsible for fuel, damage, or any late-return fees.
      %li If you’re adding another driver to the rental agreement, they will also need to bring their driver’s license and proof of insurance.
  #reservation-actions
    %button#submit-reservation{ng: {click: 'submitReservation()'}} Complete Reservation
    Or, 
    %a#return-search{ng: {click: 'returnToSearch()'}} return to search
