#reservation-show
  %a#reservations-link{ng: {href: "/users/dashboard"}, ui: {if: 'isCurrentMember()'}} Back to reservations
  %a#reservations-link{ng: {href: "/dealerships/{{reservation.dealership.id}}/reservations"}, ui: {if: '!isCurrentMember()'}} Back to reservations
  %div{ng: {include: "'/assets/reservations/_details.html'"}}
  #collect-payment{ng: {show: 'reservationDueBackWithPayment()'}}
    #payment-headline Payment due
    Please collect {{reservation.payment | currency}} from the customer before closing this reservation.
  .reservation-dialog{ui: {if: 'canEnd() && mustCancelPendingBeforeClose()'}}
    .reservation-penalty
      .headline Late return penalty applies
      The close of this reservation is after the originally scheduled drop-off date. {{reservation.user.first_name}}
      has future reservations with credits that need to be applied to this reservation to close it. Go to
      %a{ng: {href: '/users/{{reservation.user.id}}'}} {{reservation.user.first_name}}'s member page
      to cancel future reservations and free up credits, then return here to end this reservation.
  #reservation-actions{ui: {if: '!actions.closingReservation && !actions.cancelingReservation'}}
    %button#start-reservation{ui: {if: 'canStart()'}, ng: {click: 'startReservation()'}} Start Reservation
    %button{ng: {click: 'changeReservation()'}, ui: {if: 'canChange()'}} Change Reservation
    %button{ng: {click: 'changeReservation()'}, ui: {if: 'canExtend()'}} Extend Reservation
    %button{ng: {click: 'cancelReservation()'}, ui: {if: 'canCancel()'}} Cancel Reservation
    %button{ng: {click: 'closeReservation()', disabled: 'mustCancelPendingBeforeClose()'}, ui: {if: 'canEnd()'}} Close Reservation
  .reservation-dialog{ui: {if: 'actions.closingReservation'}}
    .reservation-penalty{ui: {if: 'penalty.lateReturn'}}
      .headline Late return penalty applies
      %div{ng: {show: 'penalty.lateReturn.credits && !penalty.lateReturn.payment'}}
        The close of this is after the originally scheduled drop-off date. 
        {{reservation.user.first_name}} will be charged an additional {{penalty.lateReturn.credits}} days from their
        available balance of {{reservation.user.remainingCredits() - reservation.credits}} days.
      %div{ng: {show: 'penalty.lateReturn.credits && penalty.lateReturn.payment'}}
        The close of this reservation is after the originally scheduled drop off date. {{reservation.user.first_name}}
        will be charged their last {{penalty.lateReturn.credits}} days of available credit, and will be charged
        and additional {{penalty.lateReturn.payment | currency}} ($50 per day)
      %div{ng: {show: '!penalty.lateReturn.credits && penalty.lateReturn.payment'}}
        The close of this reservation is after the originally scheduled drop off date. {{reservation.user.first_name}}
        will be charged an additional {{penalty.lateReturn.payment | currency}} ($50 per day)
      #penalty-summary
        %label Member's current rewards balance:
        %span.current-rewards {{reservation.user.remainingCredits() - reservation.credits}}
        %label # of days debited for late return:
        %span.penalty-rewards {{penalty.lateReturn.credits}}
        %label Late Return Payment due:
        %span.penalty-payment {{penalty.lateReturn.payment || 0 | currency}}
        %label{ng: {show: 'reservation.payment'}} Total Payment due:
        %span.penalty-payment{ng: {show: 'reservation.payment'}} {{(penalty.lateReturn.payment || 0) + reservation.payment | currency}}
      .waive-penalty
        %input#waive-penalty{type: 'checkbox', 'ng-model' => 'reservation.waive_late_penalty'}
        %label{for: 'waive-penalty'} Waive the late-return charges. The customer will be debited the originally scheduled amount.
    #close-actions
      %button{ng: {click: 'endReservation()'}} Close Reservation
      %button{ng: {click: 'cancelClose()'}} Cancel