%form#reservation-show{ng: {submit: 'startNow()'}}
  %header
    %h3 Reservation &#35;{{reservation.number}}
  .alert
    %h5 TRAC Rental Agreement Number
    %input{ng: {model: 'reservation.rental_agreement_id'}, required: true}
    .caption Enter the number associated with this rental
    %h5 Which model is the member actually driving off in?
    %select{ng: {model: 'reservation.rental_fleet_group_id', required: true, options: 'fleet_group.id as fleet_group.make + " " + (fleet_group.model || "") for fleet_group in rentalFleets | orderBy:rentalFleetOrdering'}}
      %option{value: 'other'} --Other--
  %h5 Confirm reservation details
  .reservation-details
    .detail {{reservation.user.first_name}} {{reservation.user.last_name}}
    .detail {{reservation.user.email}}
  .reservation-details
    .detail
      .field-label {{reservation.fleet_group.make}} {{reservation.fleet_group.model}}
    .detail
      .field-label Pick up:
      {{reservation.start_date}}
    .detail
      .field-label Drop off:
      {{reservation.end_date}}
  #reservation-actions
    %input#start-reservation{type: 'submit', value: 'Start Now'}
    %button{ng: {click: 'cancel()'}} Cancel
