.account-field#first-name
  %label First name
  %input{required: true, type: 'text', ng: {disabled: 'isCurrentMember()' ,model: 'user.first_name'}}
.account-field#last-name
  %label Last name
  %input{required: true, type: 'text', ng: {disabled: 'isCurrentMember()' , model: 'user.last_name'}}
.account-field#email
  %label Email
  %input{type: 'email', required: true, ng: {disabled: 'isCurrentMember()' , model: 'user.email'}}
