#member-activation
  %h1 Activate Your Account
  %form{name: 'activationForm', ng: {submit: 'createUser()'}}
    #survey{ui: {if: 'surveyQuestions'}}
      %h3 Survey Questions
      Help us improve the Scion Swap program by answering these simple questions
      .survey-question{name: 'surveyForm', ng: {repeat: 'question in surveyQuestions', form: true, class: '{error: isFieldError(surveyForm.answer)}'}}
        .question {{question.question}}
        %select.answers{name: 'answer', required: true, ng: {options: 'answer for answer in question.available_answers', model: "user.activation_survey_answers[$index].answer", class: '{error: surveyForm.answer.$invalid}'}}
          %option{value: '', required: true} -- Select --
    #account-details
      %h3 Account Details
      #name
        #first-name{ng: {class: '{error: isFieldError(activationForm.firstname)}'}}
          %label First name
          %input{type: 'text', name: 'firstname', 'ng-model' => 'user.first_name', required: true}
        #last-name{ng: {class: '{error: isFieldError(activationForm.lastname)}'}}
          %label Last name
          %input{type: 'text', name: 'lastname', 'ng-model' => 'user.last_name', required: true}
      #email{ng: {class: '{error: isFieldError(activationForm.email)}'}}
        %label Email
        %input{type: 'email', name: 'email', 'ng-model' => 'user.email', required: true}
        #email-hint You will use this email to sign in
      #password{ng: {class: '{error: isFieldError(activationForm.password)}'}}
        %label Password
        %input{type: 'password', name: 'password', 'ng-model' => 'user.password', 'ng-minlength' => 6, required: true}
      #confirm-password{ng: {class: '{error: isFieldError(activationForm.password_confirmation)}'}}
        %label Confirm password
        %input{type: 'password', name: 'password_confirmation', 'ng-model' => 'user.password_confirmation', 'ng-minlength' => 6, required: true, 'ui-validate' => " '$value==user.password' ",'ui-validate-watch' => "'user.password'"}
      #tos{ng: {class: '{error: isFieldError(activationForm.tos)}'}}
        %input{type: 'checkbox', name: 'tos', 'ng-model' => 'user.tos_accepted', required: true}
        %div{'ng-controller'=>'TermsModalCtrl'}
          %label I agree to the
          %a{'ng-click'=>'open()'}Terms of Use
          #terms-dialog{modal: 'shouldBeOpen', close: 'close()', options: 'opts'}
            .modal-header
              %h3
                Terms of Use
                %button.close{href: '#', ng: {click: 'close()'}} &times;
            .modal-body
              %div{'ng-include'=> '', :src=> '"/assets/static/terms_content.html"'}
      #age-restriction{ng: {class: '{error: isFieldError(activationForm.ageRestriction)}'}}
        %input#ageRestriction{type: 'checkbox', name: 'ageRestriction', 'ng-model' => 'user.acknowledgedAgeRestriction', required: true}
        %label{for: 'ageRestriction'} I acknowledge the Scion Swap program is for those 21 and older (except in the state of NY where a renter must be 18 or older)
      #submit
        %ul#activation-errors{ng: {show: 'activationForm.$invalid && triedSubmit'}}
          %li{ng: {repeat: 'error in myErrors()' }} {{error}}
        %button{type: 'submit', ng: {mouseenter: 'enterSubmitButton()'}} Create Account


