#member-edit
  %h3 Update Account

  %form{ng: {submit: 'updateMemberAccount()'}}
    %div{ng: {include: "'/assets/users/_form.html'"}}
    .account-field#roles{ui: {if: 'isCurrentMemberSupport()'}}
      %label Roles
      .role{ng: {repeat: '(role, status) in user.roles'}}
        %div {{role | capitalize}} ({{status | capitalize}})
        %input{id: "disabled_{{role}}", type: 'checkbox', value: true, 'ng-model' => "user.disabled"}
        %label{for: "disabled_{{role}}"} Disable
    .account-actions
      %input{type: 'submit', value: 'Save Changes'}
      %button{ng: {click: 'cancelUpdate()'}} Cancel