#dashboard
  #all-users
    %h3 Members
    %header
      #member-search
        %label Search Scion Swap members
        %input{placeholder: 'Type a name or email', ng: {change: 'sortingUsers()' ,model: 'memberFilter'}}
      #dealer-search
        %label View members by dealer location
        %input{placeholder: 'Type a dealer name, city, state or zip', ng: {change: 'sortingUsers()' ,model: 'dealerFilter'}}
    .row
      .span12
        %hr
    %a#new-user{href: '/users/new', ng: {show: 'isCurrentMemberSupport()'}} + New User
    #loading-users{ng: {hide: 'loadingComplete'}}= image_tag('/images/graySpinner.gif')
    #results-count{ng: {show: 'selectedUsers().length > 0'}} Showing {{usersCount}} Scion Swap members
    #results
      %table#user-list.actionable-list{ng: {show: 'selectedUsers().length > 0'}}
        %tr
          %th.sortable{ng: {click: "userSort('name')", class: "sortIcon('name')"}} Member Name
          %th.sortable{ng: {click: "userSort('email')", class: "sortIcon('email')"}} Email
          %th Primary Dealership
          %th Rewards Balance
          %th{ng: {click: "userSort('creditExpirationIn(user.credits[0]')", class: "sortIcon('user.credits[0]')"}} Rewards Expiration
          %th.actions
        %tr{ng: {repeat: 'user in selectedUsers() | orderBy:userPredicate:reverse', class: '{offPage:!isOnPage($index)}'}}
          %td {{user.first_name}} {{user.last_name}}
          %td {{user.email}}
          %td {{user.dealership.name || user.member_dealership.name}}
          %td
            .subdivided-cell{ng: {repeat: 'credit in user.credits'}}
              {{credit.credits_remaining}}
          %td
            .subdivided-cell{ng: {repeat: 'credit in user.credits'}}
              {{creditExpiration(credit).toShortDateString()}}
          %td.actions
            %a{ng: {click: 'userActionMenu$index=!userActionMenu$index'}}
              %i.icon-play
            %ul{ng: {show: 'userActionMenu$index'}}
              %li
                %a{ng: {click: 'viewUser(user)'}} View customer overview
              %li
                %a{ng: {click: 'editUser(user)'}} Edit customer info
              %li
                %a{ng: {click: 'userActionMenu$index=false; newReservation(user)'} , ui: {if: ('user.remainingCredits() > 0') }} Create new reservations
      %div{data: {'admin-rental-location-and-dates' => true}, 'member' => 'reservationUser', 'modal-options' => 'adminRentalOptions', 'dealership' => 'adminRentalDealership'}
    %div{pagination: 'true', 'num-pages' => 'userPages', 'current-page' => 'userPage'}
