#new-user
  %h3 Create Account
  %form{ng: {submit: 'createAdminAccount()'}}
    %div{ng: {include: "'/assets/users/_form.html'"}}
    .account-field
      %label Role
      %select{ng: {model: 'user.roles'}}
        %option{value: 'dealer_rep'} Dealer Rep
        %option{value: 'member_support'} Member Support
      %label{ng: {show: "user.roles == 'dealer_rep'"}} Dealership
      %select{required: true, ng: {model: 'user.dealership_id', show: "user.roles == 'dealer_rep'", options: 'dealer.id as dealer.name group by dealer.state + " - " + dealer.city for dealer in allDealerships()'}}
    .account-actions
      %input{type: 'submit', value: 'Save Changes'}
      %button{ng: {click: 'cancelAccount()'}} Cancel