#user-overview
  %header
    .personal-stats
      %h3{ng: {class: '{disabled: userDisabled()}'}}
        {{user.first_name}} {{user.last_name}}
        %span{ui: {if: 'userDisabled()'}} (disabled)
      #resend-confirmation{ng: {show: 'userNotConfirmed()'}}
        %a{ng: {click: 'resendConfirmationEmail()'}} Resend confirmation instructions email
      .email
        {{user.email}}
      .rewards{ng: {repeat: 'credit in user.credits'}}
        {{credit.credits_remaining}} reward days remaining
        .expiration
          (expires {{creditExpiration(credit).toShortDateString()}})
      .change_password
        %a{href: "/user/change_password", target: "_self"} Change Password
      #add-rewards.rewards{ui: {if: 'isCurrentMemberSupport() && user.isMember()'}}
        %a{ng: {click: 'showAddRewards()'}} Add reward days
        %form#add-reward-days{name: 'addRewardDaysForm', ui: {if: 'addRewardDays.show'}, ng: {submit: 'addRewardDays()'}}
          %label Number of Reward days to add
          %input{type: 'number', min: 1, ng: {model: 'addRewardDays.additionalRewards'}}
          .proposed-total
            After adding {{addRewardDays.additionalRewards || 0}} reward days, 
            {{user.first_name}} will have {{addRewardDays.currentRemaining + addRewardDays.additionalRewards}}
            total rewards remaining
          %input{type: 'submit'}
          %button{ng: {click: 'cancelAddRewards()'}} Cancel
    .actions
      %a{ui: {if: '!isCurrentMember()'} ,ng: {href: '/users/{{user.id}}/edit'}} Edit member account
  %hr
  #reservations-header
    #reservations-label
      %h4 Reservations ({{reservations.length}})
    #reservations-tools
      %a{ui: {if: 'isCurrentMember()'} , ng: {click: 'createReservation()'} } +Create a new reservation
      %div{data: {'admin-rental-location-and-dates' => true}, 'member' => 'reservationUser', 'modal-options' => 'adminRentalOptions', 'dealership' => 'adminRentalDealership'}
  .row
    %table#reservations-table.actionable-list{ng: {show: 'reservations.length > 0'}}
      %tr
        %th.sortable{ng: {click: "reservationSort('dealership.name')", class: "sortIcon('dealership.name')"}} Location
        %th.sortable{ng: {click: "reservationSort('id')", class: "sortIcon('id')"}} Reservation #
        %th Vehicle
        %th Pick up
        %th Drop off
        %th Status
      %tr{ng: {repeat: 'res in reservations | orderBy:reservationPredicate:reverse'}}
        %td {{res.dealership.name}}
        %td
          %a{ng: {href: '/reservations/{{res.id}}'}} {{res.number}}
        %td {{res.fleet_group.make}} {{res.fleet_group.model}}
        %td {{formatDate(res.pickup) || res.start_date}}
        %td {{formatDate(res.dropoff) || res.end_date}}
        %td {{res.status()}}
  %hr
  %h4 Account History
  #account-history{ng: {repeat: 'log in accountHistory', class: '{offPage:!isOnPage($index)}'}}
    .history-date {{log.created_at | date}}
    .history-heading 
      {{log.summary}}
      %a{'ui-if' => 'log.reservation', ng: {href: '/reservations/{{log.reservation.id}}'}} \#{{log.reservation.number}}
    .history-details{ui: {if: 'log.reservation'}}
      {{log.reservation.fleet_group.make}} {{log.reservation.fleet_group.model}} - pick up on {{log.reservation.start_date | date}} and drop off on {{log.reservation.end_date | date}} from {{log.reservation.dealership.name}}
  %div{pagination: 'true', 'num-pages' => 'accountHistoryPages', 'current-page' => 'accountHistoryPage'}