.container.content-box
  %h2 Change your password
  = form_for(@user, :url => { :action => "update_password" } ) do |f|
    = devise_error_messages!
    %div
      = f.label :current_password, "Current password"
      = f.password_field :current_password, :autofocus => true
    %div
      = f.label :password, "New password"
      = f.password_field :password
    %div
      = f.label :password_confirmation, "Confirm new password"
      = f.password_field :password_confirmation
    %div= f.submit "Change my password"
  