.container.content-box

  %h4 
    Please confirm that you really wish to opt-out of any further communication 
    = link_to "Confirm" , deactivate_reminder_mail_url(params[:confirmation_token]), :target => '_self' ,:class => "btn btn-primary"
  


