.container.content-box
  %h2 Change your password
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    %div
      = f.label :password, "New password"
      = f.password_field :password, :autofocus => true
    %div
      = f.label :password_confirmation, "Confirm new password"
      = f.password_field :password_confirmation
    %div= f.submit "Change my password"
  = render "devise/shared/links"