%p
  Hello #{@reservation.user.email}, verma

%p
  Your reservation of a #{@reservation.fleet_group.make} #{@reservation.fleet_group.model} is now confirmed for #{@reservation.start_date} to #{@reservation.end_date}, using #{@reservation.length - @reservation.trac_days} of your complimentary reservation days.  Once this reservation is completed, you will have #{@credits_after_reservation} complimentary rental days remaining.
-if @reservation.trac_cost > 0
  %p
    An additional #{@reservation.trac_cost} is due at time of pickup for the #{@reservation.trac_days} rental days not covered by your #{@reservation.user.credits} complementary days.
%p
  If you have any questions, contact Scion’s Customer Experience Center at 1-866-70-SCION
