%p
  Hello  

%p
   #{@reservation.user.first_name} #{@reservation.user.last_name} has reserved #{@reservation.fleet_group.make} #{@reservation.fleet_group.model} from #{@reservation.start_date} to #{@reservation.end_date}

%p
  If you have any questions, contact Scion’s Customer Experience Center at 1-866-70-SCION
