.login-pane
  .container
    .overlay
      -if !flash.empty?
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            %div{:class => "alert alert-#{name == :error ? "error" : "success"} #{name == :temporary ? "temporary" : ""}"}
              = content_tag :div, msg, :id => "flash_#{name}"
      .row
        .span12.align-center
          %h1
            Welcome to
            %strong<Scion
            %i>Swap
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .login-form
          .offset3.span2.align-center
            = f.email_field :email, :autofocus => true, :placeholder =>'Email'
          .span2.align-center
            = f.password_field :password, :placeholder =>'Password'
            - if devise_mapping.rememberable?
              %div
                -#= f.check_box :remember_me, :value=>'true'
                -#= f.label :remember_me
                = f.hidden_field :remember_me, :value=>'true'
          .span2.align-center
            %div= f.submit "Sign in", :class=>'btn btn-primary'
  .account-links
    = render "devise/shared/links"
    =link_to 'Learn more about the ScionSwap program', '/faq', :target=> '_self'
