%address#dealer_details
  #dealer_name {{dealership.name}}
  #dealer_address
    {{dealership.street}}
    %br/
    {{dealership.city}}, {{dealership.state}} {{dealership.zip}}
  #dealer_phone {{dealership.phone}}
