#manage-dealership
  %h2 Manage Dealership Details
  %form.dealership-update{ng: {submit: 'updateDealership()'}}
    .row
      .span12
        %address#dealer_details
          #dealer_name 
            %label Dealership name
            %input{type: 'text', required: true, placeholder: 'Name', ng: {model: 'dealership.name'}}
          #dealer_address
            %label Address
            %input{type: 'text', required: true, placeholder: 'Street', ng: {model: 'dealership.street'}}
            %br/
            %input{type: 'text', required: true, placeholder: 'City', ng: {model: 'dealership.city'}}
            , 
            %input#state{type: 'text', required: true, placeholder: 'State', ng: {model: 'dealership.state'}}
            %input#zip{type: 'text', required: true, placeholder: 'Zip', ng: {model: 'dealership.zip'}}
          #dealer_phone 
            %label Phone number
            %input{type: 'tel', required: true, placeholder: '(xxx) xxx-xxxx', ng: {model: 'dealership.phone'}}
        %label{for: 'instructions'} Special contact instructions
        %textarea{id: 'instructions', name: 'instructions', min: 0, ng: {model: 'dealership.instructions'}}
        %br
        %input{type: 'submit', value: 'Save'}
        %button{ng: {click: 'cancel()'}} Cancel