#inventory-schedule
  %h2 Manage Rental Inventory
  .fleet-group-inventory{ng: {repeat: 'group in dealership.fleet_groups | filter:{available_for_reservation: true}'}}
    %h4 {{group.make}} {{group.model}}
    There are {{group.quantity()}} {{group.model}} cars in your current inventory.
    .schedule-updates
      %h5 Scheduled updates
      .update{ng: {repeat: 'update in group.quantities | orderBy:"start_date"'}}
        %span.description {{quantityDescription(group, update, $index)}}
        %a.remove-update{ng: {click: 'removeQuantity(group, update)'}} Delete
      %div{ui: {if: 'group.quantities.length == 0'}} No updates
    %button.update-inventory{ng: {click: 'updateInventory(group)', hide: 'group.edit'}} Update Inventory
    .edit-update{'ng-show' => 'group.edit'}
      %h5 Update Inventory
      %form.inventory-update{ng: {submit: 'scheduleUpdate(group)'}}
        %label{for: 'total_inventory'} Total inventory
        %input{type: 'number', name: 'total_inventory', required: true, min: 0, ng: {model: 'group.edit.quantity'}}
        %label{for: 'effective_date'} Effective date
        .inventory-date-select
          %input{id: 'immediately_{{$index}}', type: 'radio', name: 'date_type', value: 'immediately', ng: {model: 'group.edit.date_immediate'}}
          %label{for: 'immediately_{{$index}}'} Immediately
          %input{id: 'select_{{$index}}', type: 'radio', name: 'date_type', value: 'select', ng: {model: 'group.edit.date_immediate'}}
          %label{for: 'select_{{$index}}'} Starting on this date
          %input.start_date{name: 'start_date', 'ui-date' => 'inventoryDateOptions', 'ui-date-format' => 'yy-mm-dd', ng: {model: 'group.edit.start_date', show: 'group.edit.date_immediate == \'select\''}}
          %i.icon-calendar{ng: {show: 'group.edit.date_immediate == \'select\''}}
        %ul.errors{ui: {if: 'group.edit.errors'}}
          %li{ng: {repeat: 'error in group.edit.errors'}} {{error}}
        .form-buttons
          %input{type: 'submit', value: 'Schedule Update'}
          %button{ng: {click: 'cancelUpdate(group)'}} Cancel
  #schedule-conflict{data: {'schedule-conflict' => true}, 'conflict-options' => 'inventoryConflict'}
