#dealership-schedule
  %h2 Working Hours
  #operating-hours
    %h3 General operating hours
    Enter the dates and times the dealership is available to support pick ups and returns
    %form{name: 'scheduleForm', ng: {submit: 'updateOperatingHours()'}}
      #hours-header
        .operating-day Days Open
        .operating-time Times
      .operating-row{ng: {repeat: 'wday in [0,1,2,3,4,5,6]'}}
        .operating-day 
          %input{type: 'checkbox', id: 'isOpen_{{wday}}', ng: {disabled: 'isCurrentMemberSupport()' ,model: 'dealership.is_open[wday]'}}
          %label{for: 'isOpen_{{wday}}'} {{['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][wday]}}
        .operating-time
          %div{ui: {if: 'dealership.is_open[wday]'}}
            %input{type: 'time', name: 'open_time_$index', required: true, ng: {disabled: 'isCurrentMemberSupport()' , model: 'dealership.open_time[wday]'}, placeholder: 'HH:MM AM'}
            to
            %input{type: 'time', name: 'close_time_{{wday}}', required: true, ng: {disabled: 'isCurrentMemberSupport()' , model: 'dealership.close_time[wday]'}, placeholder: 'HH:MM AM'}
          %div.closed-time{ui: {if: '!dealership.is_open[wday]'}} Dealership does not support rental activities on this day
      %ul.form-errors{ui: {if: 'scheduleForm.$invalid'}}
        %li{ng: {repeat: 'error in getHoursErrors()'}} {{error}}
      .alert.alert-success{ui: {if: 'updateSuccess'}} Update Successful
      .alert{ui: {if: 'cancelSuccess'}} Cancelled Changes
      %input#save-hours{ui: {if: 'isCurrentDealerRep()'} , type: 'submit', value: 'Update'}
      %input#cancel-hours{ui: {if: 'isCurrentDealerRep()'} ,type: 'button', value: 'Cancel' ,  ng: {click: 'resetHours()'}} 
  #holidays
    %h3 Holidays
    Select days throughout the year when the dealership will not be accepting pick ups or returns
    #holiday-list
      .holiday{ng: {repeat: 'dHoliday in dealership.holidays | orderBy:"date"'}}
        %span.holiday-date {{dateString(dHoliday.date)}}
        %a.edit-holiday{ui: {if: 'isCurrentDealerRep()'} ,ng: {click: 'editHoliday(dHoliday)'}} Edit
        %a.remove-holiday{ui: {if: 'isCurrentDealerRep()'} , ng: {click: 'removeHoliday(dHoliday)'}} Remove
    %form#holiday-form{name: 'holidayForm', ng: {show: 'holiday.edit', submit: 'saveHoliday(holiday.edit)'}}
      .holiday-date-picker
        %h6 Holiday hours start
        %input#start-date{type: 'date', name: 'date', ng: {model: 'holiday.edit.date'}, required: true}
      %ul.form-errors{ui: {if: 'holidayForm.$invalid'}}
        %li{ng: {repeat: 'error in getHolidayErrors(holidayForm.$error)', bind: 'error'}}
      %input#save-holiday{type: 'submit', value: 'Save Holiday'}
      %button#cancel-holiday{ng: {click: 'resetHoliday()'}} Cancel
    %button#add-holiday{ui: {if: 'isCurrentDealerRep()'} ,ng: {click: 'addHoliday()', hide: 'holiday.edit'}} Add Holiday
  #schedule-conflict{data: {'schedule-conflict' => true}, 'conflict-options' => 'scheduleConflict'}