.btn {
  @include buttonBackground(#DDD,#DDD,#222, 0px 1px 0px rgba(254,254,254,1));
  @include border-radius(0);
  border-bottom: 2px solid #AAA;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  @include buttonBackground(#BBB,#BBB,#222, 0px 1px 0px rgba(254,254,254,.5));
}

.btn-primary {
  @include buttonBackground(#007C84,#007C84,#FFF);
  @include border-radius(0);
  border-bottom: 2px solid #01484e;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  @include buttonBackground(#005C64,#005C64,#FFF);
  *background-color: #007C84;
}
.btn-info {
  @include buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight);
}
input[type=submit], input[type=button], button {
  @extend .btn;
}
input[type=submit] {
  @extend .btn-primary;
}