#dealership-schedule {
  @include gridContainer();
  @extend .content-box;
  #operating-hours {
    margin-bottom: 25px;
    form {
      @extend .form-inline;
      margin-top: 20px;
      #hours-header, .operating-row {
        @include gridRow();
      }
      .operating-day {
        @include gridColumn(2);
        label{
          display:inline-block;
          margin-bottom:0;
        }
        input[type='checkbox'] {
          margin-top:-1px; 
        }
      }
      .operating-time {
        @include gridColumn(5);
      }
      #hours-header {
        font-weight: bold;
      }
      .operating-row {
        margin-top: 12px;
        margin-bottom: 12px;
        .operating-day {
          @extend .control-group;
          label {
            @extend .control-label;
          }
        }
        .operating-time {
          input[type='time'] {
            width: 85px;
            margin: 0 10px;
            &:first-child {
              margin-left: 0;
            }
          }
          .closed-time {
            font-style: italic;
          }
        }
      }
      #save-hours {
        @extend .btn-primary;
      }
      &.ng-invalid {
        input.ng-invalid {
          border-color: $errorText;
        }
      }
    }
  }
  #holidays {
    margin-bottom: 20px;
    h3 {
      margin-bottom: 0;
    }
    #holiday-list {
      margin-top: 15px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px black;
      .holiday {
        .holiday-date {
          display: inline-block;
          width: 250px;
          margin-right: 20px;
        }
        .edit-holiday {
          margin-right: 10px;
        }
        a {
          cursor: pointer;
        }
      }
    }
    #add-holiday {
      &:before {
        @include iconSprite(plus);
        width: 17px;
        height: 14px;
        display: inline-block;
        content: '';
      }
    }
    #holiday-form {
      input[type='date'] {
        width: 120px;
        &.ng-invalid {
          border: solid 1px $errorText;
        }
      }
    }
  }
  .form-errors {
    @extend .alert;
    @extend .alert-error;
    padding-left: 25px;
    max-width: 500px;
  }
  .update-success {
    @extend .alert;
    @extend .alert-success;
  }
}
.schedule-conflicts {
  #changes-summary {
    @extend .dl-horizontal;
    margin-top: 25px;
    dt {
      width: 185px;
    }
    dd {
      margin-left: 195px;
    }
  }
  #proceed-prompt {
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 15px;
  }
}

#inventory-schedule {
  @extend .clearfix;
  @extend .content-box;
  @include gridContainer();
  h2 {
    margin-bottom: 25px;
  }
  .fleet-group-inventory {
    width: 375px;
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
    &:nth-child(2n) {
      clear: left;
    }
    h4 {
      padding-bottom: 10px;
      border-bottom: 2px solid black;
    }
    .schedule-updates {
      margin-top: 15px;
      border-bottom: 1px solid gray;
      padding-bottom: 15px;
      .description {
        width: 250px;
        display: inline-block;
        margin-right: 15px;
      }
      a {
        cursor: pointer
      }
    }
    .update-inventory {
      @extend .btn;
      margin-top: 15px;
    }
    .edit-update {
      .inventory-update {
        @extend .clearfix;
        > label {
          float: left;
          clear: left;
          width: 105px;
          margin-right: 15px;
        }
        input[type='number'] {
          width: 45px;
          text-align: center;
        }
        .inventory-date-select {
          float: left;
          width: 200px;
          input[type='radio'] {
            display: block;
            float: left;
            clear: left;
            margin-right: 10px;
          }
          input.start_date {
            width: 100px;
            margin-left: 20px;
          }
          .icon-calendar {
            top: -4px;
            left: -33px;
            background-size: 750px;
            background-position: -303px -190px;
          }
        }
        ul.errors {
          clear: left;
          @extend .alert;
          @extend .alert-error;
          list-style-type: none;
        }
        .form-buttons {
          clear: both;
        }
      }
    }
  }
}

#manage-dealership {
  @extend .clearfix;
  @extend .content-box;
  @include gridContainer();
  form {
    margin-top: 20px;
    #dealer_details label {
      margin-top: 15px;
    }
    input#state {
      width: 30px;
    }
    input#zip {
      width: 50px;
    }
  }
  #instructions {
    width: 90%;
    height: 150px;
  }
}
