/* -------------------- Used to style any of the devise views -------------------- */

.login-pane {
  position: relative;
  background: url(/images/homepage-bg-slice.jpg) repeat-x;
  margin-top: -20px;
  .overlay {
    background: url(/images/homepage-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    padding: 70px 0 0 0;
    color: #FFF;
    height: 511px;
    .alert {
      margin-left: 20px;
      margin-right: 20px;
    }
    h1 {
      color: #FFF;
      font-size: 3.8em;
      line-height: 1em;
      font-weight: 300;
      margin-top: 0px;
      text-shadow: 0px 1px 5px #666;
    }
    .login-form {
      @include gridRow();
      margin-top: 30px;
    }
    .btn-primary {
      width: 90%;
    }
    input {
      width: 90%;
    }
  }
  .account-links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 50px 0;
    text-align: center;
  }
}

#error_explanation {
  h2 { display: none; }
  ul {
    @extend .alert;
    @extend .alert-error;
    list-style-type: none;
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 979px) {
  .login-pane {
    margin: 0px -20px 0 -20px;
  }
}
@media screen and (max-width: 1200px) {
  .login-pane {
    background: url(/images/homepage-background.jpg) center top;
    .overlay {
      background: none;
    }
  }
}