#swap-email {
  width: 750px;
  border-width: 0px;
  border-style: solid;
  border-color: #e7e7e7;
  border-spacing: 0;
  td {
    padding: 0;
  }
  #nav-head {
    width: 100%;
    background-color: #909090;
    a {
      color: white;
      font-size: 11px;
      text-transform: uppercase;
      text-decoration: none;
    }
    #head-logo {
      width: 50%;
      padding-left: 10px;
      text-align: left;
    }
    #head-sign-in {
      width: 50%;
      padding-right: 25px;
      text-align: right;
    }
  }
  td#content {
    padding: 25px;
    background: white;
    border: solid 1px #dbdbdb;
    table#monthly-activity-history {
      border: 1px solid #ddd;
      border-collapse: separate;
      *border-collapse: collapse;
      border-top: 0;
      border-left: 0;
      th,td {
        border-left: 1px solid #ddd;
        padding: 8px;
        border-top: 1px solid #ddd;
      }
      tbody {
        >tr:nth-child(odd) > td, > tr:nth-child(odd) > th {
          background-color: #f9f9f9;
        }
      }
    }
  }
  #footer {
    background: #343434;
    #nav-footer {
      width: 100%;
      #footer-nav-links {
        padding-left: 15px;
        a {
          color: white;
          font-size: 11px;
          text-decoration: none;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-style: italic;
          margin-right: 10px;
        }
      }
      #footer-powered {
        line-height: 20px;
        width: 50%;
        text-align: right;
        padding-right: 15px;
        a {
          color: white;
          text-decoration: none;
          font-size: 11px;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-style: italic;
        }
      }
    }
  }
}