select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {

  @include border-radius(0);
}

input[ui-date] {
  @extend input[type="date"];
}

input + *[class^='icon-'] {
  position: relative;
  width: 28px;
  height: 28px;
  left: -40px;
  top: -5px;
  background-size: 938px;
  background-position: -385px -242px;
//  OR background-size: 50em; background-position: -287px -179px;
//  OR background-size: 3000%; background-position: -341px -212px;
}

input:required {
  border-color: #ccc !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}