/* ----------------- Bootstrap overrides and customizations for general page layout ----------------- */

html {
  background: #343434;
}

body {
  background: #e7e7e7;
}

a {
  cursor: pointer;
}

.navbar-fixed-top {
  .navbar-inner {
    background: #a7b1b3;
    color: #FFF;
    text-shadow: none;
    @include box-shadow(none);
    border-bottom: none;
    .nav > li > a, .brand, .nav > li > a:hover {
      color: #FFF;
      text-shadow: none;
    }
    .nav > li > a {
      text-transform: uppercase;
    }
    .nav > .active > a {
      background: #787475;
      @include box-shadow(none);
    }
  }
  &.navbar .brand {
    padding-bottom: 9px;
  }
  @media screen and (max-width: 979px) {
    margin-bottom: 0px;
    .navbar-inner {
      padding: 0;
    }
  }
}

.content {
  background: #e7e7e7;
}

@mixin full-width() {
  margin-left: 0;
  margin-right: 0;
  @media screen and (max-width: 768px) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

#footer {
  @include full-width();
  background: #343434;
  color: #FFF;
  border-top: 1px solid #464646;
  .navbar-inner {
    @include box-shadow(none);
    @include border-radius(0);
    background: none;
    border: none;
  }
  .nav > li > a, .brand {
    color: #FFF;
    text-shadow: none;
    font-size: .9em;
  }
  .container {
    max-width: 1170px;
  }
  @media screen and (max-width: 768px) {
    .navbar .nav > li {
      > a {
        padding: 10px 7px 10px 7px;
      }
    }
  }
}

.pagination {
  text-align: center;
}

/* ----------------- End Bootstrap overrides and customizations for general page layout ----------------- */


/* ----------------- Common layout elements ----------------- */


.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.pad10 { padding: 10px; }
.pad20 { padding: 20px; }
.pad30 { padding: 30px; }


/* ----------------- Major layout elements ----------------- */

#global-flash-messages {
  position: fixed;
  top: 40px;
  left: 0px;
  width: 100%;
  z-index: 10;
  @media screen and (max-width: 979px) {
    top: auto;
    bottom: 0;
  }
  .alert {
    @include border-radius(0);
    margin-bottom: 0;
  }
}

.content-box {
  @extend .clearfix;
  position: relative;
  background: #FFF;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px;
  @include box-shadow(0px 0px 1px #333);
  @media screen and (max-width: 1210px) and (min-width: 1200px) {
    margin-left: auto !important; margin-right: auto !important;
    padding-left: 15px; padding-right: 15px;
  }
  @media screen and (max-width: 767px) { margin: 0 -20px !important; }
  &:before {
    position: absolute;
    width: 95%;
    height: 15px;
    bottom: -15px;
    padding: 0 20px;
    left: 0px;
    background: url(/images/white-content-shadow.png) no-repeat center bottom;
    background-size: 100% 100%;
  }
}
.container > .content-box {
  margin-left: -20px;
  margin-right: -20px;
}


/* ----------------- Mixins ----------------- */

@mixin gridContainer {
  @include container-fixed();
  @include grid-core-span(12, $gridColumnWidth, $gridGutterWidth);
  @media screen and (max-width: 767px) { width: auto; }
  @media screen and (min-width: 768px) and (max-width: 979px) { @include grid-core-span(12, $gridColumnWidth768, $gridGutterWidth768); }
  @media screen and (min-width: 1200px) { @include grid-core-span(12, $gridColumnWidth1200, $gridGutterWidth1200); }
  .content-box {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@mixin gridRow {
  @include makeRow();
  @media screen and (max-width: 767px) { margin-left: 0; }
  @media screen and (min-width: 768px) and (max-width: 979px) { margin-left: $gridGutterWidth768 * -1; }
  @media screen and (min-width: 1200px) { margin-left: $gridGutterWidth1200 * -1; }
}

@mixin gridColumn($columns: 1, $offset: 0) {
  @include makeColumn($columns, $offset);
  @media screen and (max-width: 767px) {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    @include box-sizing(border-box);
  }
  @media screen and (min-width: 768px) and (max-width: 979px) {
    margin-left: ($gridColumnWidth768 * $offset) + ($gridGutterWidth768 * ($offset - 1)) + ($gridGutterWidth768 * 2);
    width: ($gridColumnWidth768 * $columns) + ($gridGutterWidth768 * ($columns - 1));
  }
  @media screen and (min-width: 1200px) {
    margin-left: ($gridColumnWidth1200 * $offset) + ($gridGutterWidth1200 * ($offset - 1)) + ($gridGutterWidth1200 * 2);
    width: ($gridColumnWidth1200 * $columns) + ($gridGutterWidth1200 * ($columns - 1));
  }
}


.actionable-list {
  @include gridColumn(12);
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;
  th.sortable {
    cursor: pointer;
    &.sort-target:after {
      @include iconSprite(play);
      @include rotate(90deg);
      position: absolute;
      margin-left: 10px;
    }
    &.sort-reverse:after {
      @include rotate(-90deg);
    }
  }
  th.actions {
    border: 0;
    background: none;
  }
  td { vertical-align: middle; }
  td.actions {
    position: relative;
    a i.icon-play {
      @include rotate(90deg);
    }
    ul {
      position: absolute;
      right: 0;
      z-index: $zindexDropdown;
      background: #fff;
      border: solid 1px #ddd;
      list-style-type: none;
      width: 180px;
      li {
        padding: 5px 10px;
        &:hover {
          background: $grayLighter;
        }
      }
    }
  }
  .subdivided-cell {
    border-top: 1px solid #DDD;
    margin: 8px -8px -8px -8px;
    padding: 8px;
    &:first-child {
      margin: -8px;
      border: none;
    }
  }
}

div.offPage, table.actionable-list tr.offPage {
  display: none;                   
}
