@media print {
  html { width: 8in; }
  body {
    font-size: 11pt;
    line-height: 16pt;
    padding-top: 0;
  }
  * {
    max-width: 8in !important;
    min-width: 0px !important;
  }
  input {
    min-width: 0px !important;
    width: auto !important;
  }
  .content-box:before {
    display: none;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, #global-flash-messages {
    position: static;
  }
  .content-box, #search-page #dealership, #search-page #browse-locations, #reservation-show, #reservation-edit, 
  #member-activation, #dashboard, #user-overview, #member-edit, div#new-user, #dealership-schedule, #inventory-schedule, 
  #manage-dealership {
    padding-top: 0;
    margin-top: 0;
  }
  .actionable-list {
    max-width: 100% !important;
    width: 100%;
    tr.offPage { display: table-row; }
    th.sortable.sort-target {
      cursor: default;
      &:after {
        display: none;
      }
    }
    td.actions {
      border-left: 0;
    }
  }
  div.offPage { display: block; }
  .content {
    button, input[type='submit'], a {
      display: none !important;
    }
  }
  #dashboard #admin-dashboard {
    #member-support {
      display: none !important;
    }
    #today-activity, #inventory, #dealership-details {
      float: none;
      margin: 0 auto;
      width: 60%;
    }
  }
  #user-overview {
    #reservations-table a {
      display: inline !important;
    }
    #account-history .history-heading a {
      display: inline !important;
    }
  }
  #reservation-review #reservation-actions { display: none; }
  #reservation-show, #reservation-edit {
    #reservation-vehicle {
      position: static;
      top: auto;
      left: auto;
    }
  }
  #member-dashboard {
    #search, .reservation-actions {
      display: none;
    }
    h3, #upcoming-reservations .reservation {
      margin-left: 0;
    }
    #user-activity #transaction-history {
      margin-left: 0;
      #history {
        display: block !important;
      }
    } 
  }
}