#reservation-review {
  @include gridContainer();
  margin-bottom: 65px;
  #pickup-instructions {
    @extend .alert;
    @extend .alert-info;
    ul {
      margin-top: 8px;
    }
  }
  #reservation-summary {
    @include gridRow();
    #reservation-description {
      @include gridColumn(5);
      h1, h2 {
        text-align: left;
      }
      #reservation-details {
        @extend .dl-horizontal;
        @extend .clearfix;
        dt {
          width: auto;
          margin-right: 10px;
          float: left;
          clear: left;
        }
        dd {
          width: auto;
          float: left;
          margin-left: 0;
          &#dealership {
            margin: 20px 0 0 0;
            padding: 0;
            background: none;
            border: none;
            @include box-shadow(none);
          }
        }
        a#return-search {
          cursor: pointer;
        }
      }
    }
    #reservation-vehicle {
      @include gridColumn(7);
      padding-top: 50px;
    }
  }
  #payment-acknowledgment #member-acknowledgment,
  #future-cancellation-acknowledgement #cancellation-acknowledgement {
    @extend .alert;
    @extend .alert-info;
  }
  #reservation-errors {
    @extend .alert;
    @extend .alert-error;
  }
  #submit-reservation {
    @extend .btn-primary;
  }
}

#reservation-show, #reservation-edit {
  @include gridContainer();
  @extend .content-box;
  .alert {
    padding-top: 20px;
    padding-bottom: 20px;
    .caption {
      display: inline-block;
    }
  }
  ul#reservation-start-errors {
    @extend .alert;
    @extend .alert-error;
  }
  .reservation-details {
    margin-top: 15px;
    .detail {
      .field-label {
        font-weight: bold;
        width: auto;
        display: inline-block;
        margin-right: 5px;
        vertical-align: top;
      }
      .user-credits {
        display: inline-block;
      }
      &.highlight-payment {
        color: $errorText;
      }
      &#penalty-credits {
        color: $errorText;
      }
    }  
  }
  #collect-payment {
    @extend .alert;
    @extend .alert-info;
    margin-top: 15px;
    display: inline-block;
    #payment-headline {
      font-weight: bold;
    }
  }
  #reservation-vehicle {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 500px;
    @media screen and (max-width: 979px) and (min-width: 768px) {
      left: 230px;
      top: 75px;
    }
    @media screen and (max-width: 767px) {
      position: static;
      max-width: 100%;
    }
  }
  #reservation-actions{
    margin-top: 15px;
  }
}

#reservation-show {
  .reservation-dialog {
    margin-top: 20px;
    .headline {
      font-weight: bold;
    }
  }
  #reservation-map {
    width: 345px;
    height: 300px;
    float: right;
  }
  .reservation-penalty {
    @extend .alert;
    @extend .alert-error;
    padding: 10px;
    color: $textColor;
    .waive-penalty {
      border-style: solid;
      border-width: 1px 1px 1px 30px;
      border-color: $gray;
      background: $white;
      margin-top: 10px;
      padding: 0 10px;
      height: 30px;
      position: relative;
      @include border-radius(5px);
      &.error {
        border-color: $errorText;
      }
      input {
        position: absolute;
        top: 5px;
        left: -20px;
      }
      label {
        display: inline-block;
        height: 30px;
        vertical-align: middle;
        line-height: 30px;
      }
    }
  }
  #penalty-summary {
    margin-top: 10px;
    @include clearfix();
    label {
      font-weight: bold;
      margin: 0;
      cursor: default;
      float: left;
      clear: left;
      margin-right: 5px;
    }
    span {
      float: left;
      display: block;
      line-height: $baseLineHeight;
    }
  }
}

#reservation-edit {
  form {
    @include clearfix();
    margin-top: 20px;
    .reservation-date {
      float: left;
      width: 150px;
      position: relative;
      margin-bottom: 15px;
      label {
        font-weight: bold;
      }
      input {
        width: 120px;
        line-height: 28px;
      }
      span {
        line-height: 30px;
      }
      &:after {
        @include iconSprite(calendar, true);
        position: absolute;
        right: 18px;
        bottom: 11px;
      }
      &.active:after {
        display: none;
      }
    }
  }
  #new-model {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    top: 0;
    background: White;
    @include box-sizing(border-box);
    @include gridRow();
    h3 {
      @include gridColumn(12);
    }
    .model {
      @include gridColumn(4);
    }
    .model-header {
      line-height: $baseLineHeight * 2;
      font-size: $fontSizeLarge;
      font-weight: bold;
      background: $grayLighter;
      padding: $paddingSmall;
      @include clearfix();
      button {
        float: right;
        margin-top: 5px;
      }
    }
    .model-details {
      margin-top: 10px;
      background: $grayLighter;
      padding: 10px;
      img {
        background: $grayLight;
        padding: 10px;
        @include box-sizing(border-box);
      }
      label {
        font-weight: bold;
      }
    }
  }
  .payment-required {
    .headline {
      font-weight: bold;
    }
    .acknowledge-payment {
      border-style: solid;
      border-width: 1px 1px 1px 30px;
      border-color: #dbdbdb;
      padding: 0 10px;
      height: 30px;
      display: inline-block;
      margin-bottom: 15px;
      position: relative;
      @include border-radius(5px);
      &.error {
        border-color: $errorText;
      }
      input {
        position: absolute;
        top: 5px;
        left: -20px;
      }
      label {
        display: inline-block;
        height: 30px;
        vertical-align: middle;
        line-height: 30px;
      }
    }
  }
  #reservation-actions {
    clear: left;
  }
}

#dashboard #admin-dashboard #reservations {
  header {
    @include gridRow();
    @include gridColumn(12);
    border-bottom: solid 2px Black;
    padding-bottom: 10px;
    margin-bottom: 20px;
    #reservation-header {
      @include gridColumn(5);
      margin-left: 0 !important;
      h3 {
        border: 0;
        border-right: solid 2px Black;
        margin-left: 0;
        display: inline-block;
        padding-right: 15px;
      }
      #status-select {
        margin-left: 15px;
        width: 165px;
      }
      @media screen and (max-width: 979px) and (min-width: 768px) {
        white-space: nowrap;
      }
    }
    #filter-dates {
      @include gridColumn(4);
      .control-group { 
        float: left;
        width: 45%;
        position: relative;
        i.icon-calendar {
          position: absolute;
          top: auto;
          left: auto;
          right: 0;
          bottom: 0;
        }
        &:first-child {
          margin-right: 10%;
        }
      }
      @media screen and (max-width: 979px) and (min-width: 768px) {
        clear: left;
      }
      @media screen and (max-width: 767px) {
        @include clearfix();
        .control-group {
          max-width: 110px;
        }
      }
    }
    .control-group input {
      @include box-sizing(border-box);
      max-width: 100%;
      min-width: 110px;
      height: $baseLineHeight + 12px;
    }
    #filter-member {
      @include gridColumn(3);
    }
  }
  #no-reservations {
    @include gridRow();
    @include gridColumn(3);
  }
  #loading-reservations {
    text-align: center;
  }
  .pagination {
    @include gridRow();
  }
}

.admin-rental {
  span.required-error {
    color: $errorText;
  }
}
