#search-page {
  @media screen and (min-width: 979px) {
    margin-top: 100px;
  }
  header {
    @include full-width();
    background: #343434;
    min-height: 2 * $baseLineHeight + 35px;
    text-align: center;
    @media screen and (min-width: 979px) {
      position: fixed;
      top: 40px;
      left: 0px;
      width: 100%;
      z-index: 10;
    }
    form#search-form {
      display: inline;
      input {
        &[ui-date],&[type="text"] {
          height: 27px;
          margin-top: $baseLineHeight;
          margin-bottom: $baseLineHeight;
        }
        &#city {
          width: 250px;
        }
        &.search-date {
          width: 120px;
        }
        &[type="submit"] {
          margin-left: 5px;
          line-height: $baseLineHeight;
          text-transform: uppercase;
          padding: 5px 20px;
        }
      }
    }
    #userEntitlements {
      display: inline-block;
      color: #ffffff;
      font-size: $fontSizeSmall;
      text-align: left;
      margin-left: 10px;
      vertical-align: middle;
    }
  }
  #dealership {
    @include gridContainer();
    @extend .content-box;
    #map {
      @include gridColumn(9);
      height: 178px;
    }
    #dealer_info {
      @include gridColumn(3);
      margin-top: 10px;
    }
    #dealer_details {
      font-style: italic;
      #dealer_name {
        font-weight: bold;
      }
    }
    #schedule {
      font-style: italic;
      margin-bottom: 5px;
    }
    a#nearbys {
      text-transform: uppercase;
    }
  }
  .results {
    @include gridContainer();
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: solid 1px #c9c9c9;
    &:last-child {
      border: 0;
    }
    h3 {
      font-size: 30px;
      color: #515051;
      font-weight: normal;
      margin-bottom: 20px;
    }
    button.reserve {
      @extend .btn-primary;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    .description {
      margin-bottom: 10px;
    }
    .photo-disclaimer {
      color: #888;
      margin-top: 15px;
      text-align: center;
    }
    #errors {
      @extend .alert;
      @extend .alert-error;
      @include gridRow();
      box-sizing: border-box;
      h4 {
        @include gridColumn(12);
      }
      ul {
        @include gridColumn(12);
        list-style-type: disc;
        margin-left: 0;
        padding-left: 25px;
      }
    }
    button.reserve {
      width: 190px;
    }
    img.vehicle-image {
      margin-top: 30px;
    }
    .unavailable {
      .choose-dealer {
        display: block;
      }
    }
  }
  #browse-locations {
    @include gridContainer();
    @extend .content-box;
    padding-bottom: 40px;
    @media screen and (min-width: 979px) {
      margin-top: 100px;
    }
    p {
      font-size: 1.4em;
      line-height: 1.4em;
      text-align: center;
      margin: 35px 0;
    }
  }
  #browse-map {
    text-align: center;
    position: relative;
    a {
      background: Transparent image-url('mapArea.png') 0 0 no-repeat;
      position: absolute;
      width: 101px;
      height: 101px;
      cursor: pointer;
      color: #fff;
      font-size: 20px;
      font-weight: 100;
      text-decoration: none;
      line-height: 100px;
      text-align: center;
      margin: -50px;
      &#sanfranciscoca {
        top: 45%;
        left: 13%;
      }
      &#miamifl {
        top: 88%;
        left: 76%;
      }
      &#houstontx {
        top: 80%;
        left: 52%;
      }
      &#longislandny {
        top: 37%;
        left: 81%;
      }
    }
  }
}
.nearbys-list {
  @extend .clearfix;
  overflow: hidden;
  .modal-body {
    overflow: hidden;
    form {
      margin: 0;
      ul#nearby-list {
        max-height: 400px;
        width: 180px;
        overflow-y: auto;
        float: left;
        list-style-type: none;
        margin-left: 5px;
        li {
          input[type='radio'] {
            vertical-align: top;
            width: 16px;
          }
          .address {
            display: inline-block;
            vertical-align: top;
            margin-left: 5px;
            width: 150px;
            address {
              font-style: italic;
              #dealer_name {
                font-weight: bold;
              }
            }
          } 
        }
      }
    }
    #nearby-map {
      width: 345px;
      height: 300px;
      @extend .pull-right;
    }
  }
  .modal-footer {
    text-align: left;
    #select-nearby {
      @extend .btn-primary;
    }
  }
}
