@mixin iconSprite($iconType, $double: false) {
  display: inline-block;
  $doubler: 1;
  @if $double {
    width: 28px; 
    height: 28px;
    line-height: 28px;
    background-size: 938px auto;
    $doubler: 2;
  } @else {
    width: 14px; 
    height: 14px;
    line-height: 14px;
  }
  @include ie7-restore-right-whitespace();
  vertical-align: text-top;
  background-image: url($iconSpritePath);
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
  content: ' ';
  @if $iconType == glass                  { background-position: 0                 0; }
  @else if $iconType == music             { background-position: -24px  * $doubler 0; }
  @else if $iconType == search            { background-position: -48px  * $doubler 0; }
  @else if $iconType == envelope          { background-position: -72px  * $doubler 0; }
  @else if $iconType == heart             { background-position: -96px  * $doubler 0; }
  @else if $iconType == star              { background-position: -120px * $doubler 0; }
  @else if $iconType == star-empty        { background-position: -144px * $doubler 0; }
  @else if $iconType == user              { background-position: -168px * $doubler 0; }
  @else if $iconType == film              { background-position: -192px * $doubler 0; }
  @else if $iconType == th-large          { background-position: -216px * $doubler 0; }
  @else if $iconType == th                { background-position: -240px * $doubler 0; }
  @else if $iconType == th-list           { background-position: -264px * $doubler 0; }
  @else if $iconType == ok                { background-position: -288px * $doubler 0; }
  @else if $iconType == remove            { background-position: -312px * $doubler 0; }
  @else if $iconType == zoom-in           { background-position: -336px * $doubler 0; }
  @else if $iconType == zoom-out          { background-position: -360px * $doubler 0; }
  @else if $iconType == off               { background-position: -384px * $doubler 0; }
  @else if $iconType == signal            { background-position: -408px * $doubler 0; }
  @else if $iconType == cog               { background-position: -432px * $doubler 0; }
  @else if $iconType == trash             { background-position: -456px * $doubler 0; }
  @else if $iconType == home              { background-position: 0                 -24px * $doubler; }
  @else if $iconType == file              { background-position: -24px * $doubler  -24px * $doubler; }
  @else if $iconType == time              { background-position: -48px * $doubler  -24px * $doubler; }
  @else if $iconType == road              { background-position: -72px * $doubler  -24px * $doubler; }
  @else if $iconType == download-alt      { background-position: -96px * $doubler  -24px * $doubler; }
  @else if $iconType == download          { background-position: -120px * $doubler -24px * $doubler; }
  @else if $iconType == upload            { background-position: -144px * $doubler -24px * $doubler; }
  @else if $iconType == inbox             { background-position: -168px * $doubler -24px * $doubler; }
  @else if $iconType == play-circle       { background-position: -192px * $doubler -24px * $doubler; }
  @else if $iconType == repeat            { background-position: -216px * $doubler -24px * $doubler; }
  @else if $iconType == refresh           { background-position: -240px * $doubler -24px * $doubler; }
  @else if $iconType == list-alt          { background-position: -264px * $doubler -24px * $doubler; }
  @else if $iconType == lock              { background-position: -287px * $doubler -24px * $doubler; } // 1px * $doubler off
  @else if $iconType == flag              { background-position: -312px * $doubler -24px * $doubler; }
  @else if $iconType == headphones        { background-position: -336px * $doubler -24px * $doubler; }
  @else if $iconType == volume-off        { background-position: -360px * $doubler -24px * $doubler; }
  @else if $iconType == volume-down       { background-position: -384px * $doubler -24px * $doubler; }
  @else if $iconType == volume-up         { background-position: -408px * $doubler -24px * $doubler; }
  @else if $iconType == qrcode            { background-position: -432px * $doubler -24px * $doubler; }
  @else if $iconType == barcode           { background-position: -456px * $doubler -24px * $doubler; }
  @else if $iconType == tag               { background-position: 0                 -48px * $doubler; }
  @else if $iconType == tags              { background-position: -25px * $doubler  -48px * $doubler; } // 1px * $doubler off
  @else if $iconType == book              { background-position: -48px * $doubler  -48px * $doubler; }
  @else if $iconType == bookmark          { background-position: -72px * $doubler  -48px * $doubler; }
  @else if $iconType == print             { background-position: -96px * $doubler  -48px * $doubler; }
  @else if $iconType == camera            { background-position: -120px * $doubler -48px * $doubler; }
  @else if $iconType == font              { background-position: -144px * $doubler -48px * $doubler; }
  @else if $iconType == bold              { background-position: -167px * $doubler -48px * $doubler; } // 1px * $doubler off
  @else if $iconType == italic            { background-position: -192px * $doubler -48px * $doubler; }
  @else if $iconType == text-height       { background-position: -216px * $doubler -48px * $doubler; }
  @else if $iconType == text-width        { background-position: -240px * $doubler -48px * $doubler; }
  @else if $iconType == align-left        { background-position: -264px * $doubler -48px * $doubler; }
  @else if $iconType == align-center      { background-position: -288px * $doubler -48px * $doubler; }
  @else if $iconType == align-right       { background-position: -312px * $doubler -48px * $doubler; }
  @else if $iconType == align-justify     { background-position: -336px * $doubler -48px * $doubler; }
  @else if $iconType == list              { background-position: -360px * $doubler -48px * $doubler; }
  @else if $iconType == indent-left       { background-position: -384px * $doubler -48px * $doubler; }
  @else if $iconType == indent-right      { background-position: -408px * $doubler -48px * $doubler; }
  @else if $iconType == facetime-video    { background-position: -432px * $doubler -48px * $doubler; }
  @else if $iconType == picture           { background-position: -456px * $doubler -48px * $doubler; }
  @else if $iconType == pencil            { background-position: 0                 -72px * $doubler; }
  @else if $iconType == map-marker        { background-position: -24px * $doubler  -72px * $doubler; }
  @else if $iconType == adjust            { background-position: -48px * $doubler  -72px * $doubler; }
  @else if $iconType == tint              { background-position: -72px * $doubler  -72px * $doubler; }
  @else if $iconType == edit              { background-position: -96px * $doubler  -72px * $doubler; }
  @else if $iconType == share             { background-position: -120px * $doubler -72px * $doubler; }
  @else if $iconType == check             { background-position: -144px * $doubler -72px * $doubler; }
  @else if $iconType == move              { background-position: -168px * $doubler -72px * $doubler; }
  @else if $iconType == step-backward     { background-position: -192px * $doubler -72px * $doubler; }
  @else if $iconType == fast-backward     { background-position: -216px * $doubler -72px * $doubler; }
  @else if $iconType == backward          { background-position: -240px * $doubler -72px * $doubler; }
  @else if $iconType == play              { background-position: -264px * $doubler -72px * $doubler; }
  @else if $iconType == pause             { background-position: -288px * $doubler -72px * $doubler; }
  @else if $iconType == stop              { background-position: -312px * $doubler -72px * $doubler; }
  @else if $iconType == forward           { background-position: -336px * $doubler -72px * $doubler; }
  @else if $iconType == fast-forward      { background-position: -360px * $doubler -72px * $doubler; }
  @else if $iconType == step-forward      { background-position: -384px * $doubler -72px * $doubler; }
  @else if $iconType == eject             { background-position: -408px * $doubler -72px * $doubler; }
  @else if $iconType == chevron-left      { background-position: -432px * $doubler -72px * $doubler; }
  @else if $iconType == chevron-right     { background-position: -456px * $doubler -72px * $doubler; }
  @else if $iconType == plus-sign         { background-position: 0                 -96px * $doubler; }
  @else if $iconType == minus-sign        { background-position: -24px * $doubler  -96px * $doubler; }
  @else if $iconType == remove-sign       { background-position: -48px * $doubler  -96px * $doubler; }
  @else if $iconType == ok-sign           { background-position: -72px * $doubler  -96px * $doubler; }
  @else if $iconType == question-sign     { background-position: -96px * $doubler  -96px * $doubler; }
  @else if $iconType == info-sign         { background-position: -120px * $doubler -96px * $doubler; }
  @else if $iconType == screenshot        { background-position: -144px * $doubler -96px * $doubler; }
  @else if $iconType == remove-circle     { background-position: -168px * $doubler -96px * $doubler; }
  @else if $iconType == ok-circle         { background-position: -192px * $doubler -96px * $doubler; }
  @else if $iconType == ban-circle        { background-position: -216px * $doubler -96px * $doubler; }
  @else if $iconType == arrow-left        { background-position: -240px * $doubler -96px * $doubler; }
  @else if $iconType == arrow-right       { background-position: -264px * $doubler -96px * $doubler; }
  @else if $iconType == arrow-up          { background-position: -289px * $doubler -96px * $doubler; } // 1px off
  @else if $iconType == arrow-down        { background-position: -312px * $doubler -96px * $doubler; }
  @else if $iconType == share-alt         { background-position: -336px * $doubler -96px * $doubler; }
  @else if $iconType == resize-full       { background-position: -360px * $doubler -96px * $doubler; }
  @else if $iconType == resize-small      { background-position: -384px * $doubler -96px * $doubler; }
  @else if $iconType == plus              { background-position: -408px * $doubler -96px * $doubler; }
  @else if $iconType == minus             { background-position: -433px * $doubler -96px * $doubler; }
  @else if $iconType == asterisk          { background-position: -456px * $doubler -96px * $doubler; }
  @else if $iconType == exclamation-sign  { background-position: 0                 -120px * $doubler; }
  @else if $iconType == gift              { background-position: -24px * $doubler  -120px * $doubler; }
  @else if $iconType == leaf              { background-position: -48px * $doubler  -120px * $doubler; }
  @else if $iconType == fire              { background-position: -72px * $doubler  -120px * $doubler; }
  @else if $iconType == eye-open          { background-position: -96px * $doubler  -120px * $doubler; }
  @else if $iconType == eye-close         { background-position: -120px * $doubler -120px * $doubler; }
  @else if $iconType == warning-sign      { background-position: -144px * $doubler -120px * $doubler; }
  @else if $iconType == plane             { background-position: -168px * $doubler -120px * $doubler; }
  @else if $iconType == calendar          { background-position: -192px * $doubler -120px * $doubler; }
  @else if $iconType == random            { background-position: -216px * $doubler -120px * $doubler; width: 16px * $doubler; }
  @else if $iconType == comment           { background-position: -240px * $doubler -120px * $doubler; }
  @else if $iconType == magnet            { background-position: -264px * $doubler -120px * $doubler; }
  @else if $iconType == chevron-up        { background-position: -288px * $doubler -120px * $doubler; }
  @else if $iconType == chevron-down      { background-position: -313px * $doubler -119px * $doubler; } // 1px, 1px off
  @else if $iconType == retweet           { background-position: -336px * $doubler -120px * $doubler; }
  @else if $iconType == shopping-cart     { background-position: -360px * $doubler -120px * $doubler; }
  @else if $iconType == folder-close      { background-position: -384px * $doubler -120px * $doubler; width: 16px * $doubler; }
  @else if $iconType == folder-open       { background-position: -408px * $doubler -120px * $doubler; width: 16px * $doubler; }
  @else if $iconType == resize-vertical   { background-position: -432px * $doubler -119px * $doubler; } // 1px, 1px off
  @else if $iconType == resize-horizontal { background-position: -456px * $doubler -118px * $doubler; } // 1px, 2px off
  @else if $iconType == hdd               { background-position: 0                 -144px * $doubler; }
  @else if $iconType == bullhorn          { background-position: -24px * $doubler  -144px * $doubler; }
  @else if $iconType == bell              { background-position: -48px * $doubler  -144px * $doubler; }
  @else if $iconType == certificate       { background-position: -72px * $doubler  -144px * $doubler; }
  @else if $iconType == thumbs-up         { background-position: -96px * $doubler  -144px * $doubler; }
  @else if $iconType == thumbs-down       { background-position: -120px * $doubler -144px * $doubler; }
  @else if $iconType == hand-right        { background-position: -144px * $doubler -144px * $doubler; }
  @else if $iconType == hand-left         { background-position: -168px * $doubler -144px * $doubler; }
  @else if $iconType == hand-up           { background-position: -192px * $doubler -144px * $doubler; }
  @else if $iconType == hand-down         { background-position: -216px * $doubler -144px * $doubler; }
  @else if $iconType == circle-arrow-right{ background-position: -240px * $doubler -144px * $doubler; }
  @else if $iconType == circle-arrow-left { background-position: -264px * $doubler -144px * $doubler; }
  @else if $iconType == circle-arrow-up   { background-position: -288px * $doubler -144px * $doubler; }
  @else if $iconType == circle-arrow-down { background-position: -312px * $doubler -144px * $doubler; }
  @else if $iconType == globe             { background-position: -336px * $doubler -144px * $doubler; }
  @else if $iconType == wrench            { background-position: -360px * $doubler -144px * $doubler; }
  @else if $iconType == tasks             { background-position: -384px * $doubler -144px * $doubler; }
  @else if $iconType == filter            { background-position: -408px * $doubler -144px * $doubler; }
  @else if $iconType == briefcase         { background-position: -432px * $doubler -144px * $doubler; }
  @else if $iconType == fullscreen        { background-position: -456px * $doubler -144px * $doubler; }
}
