#member-activation {
  @include gridContainer();
  @extend .content-box;
  #survey {
    h3 { 
      margin-bottom: 0;
    }
    .survey-question {
      @extend .control-group;
      margin-top: 15px;
    }
  }
  #account-details {
    #first-name, #last-name, #email, #password, #confirm-password, #tos, #age-restriction {
      @extend .control-group;
    }
    #name {
      @include gridRow();
      #first-name, #last-name {
        @include gridColumn(3);
      }
      #last-name {
        @extend .offset1;
      }
    }
    #email {
      margin-bottom: 10px;
      input {
        margin-bottom: 0;
      }
      #email-hint {
        color: $grayLight;
      }
    }
    #tos, #age-restriction {
      border-style: solid;
      border-width: 1px 1px 1px 30px;
      border-color: #dbdbdb;
      padding: 0 10px;
      height: 30px;
      display: inline-block;
      margin-bottom: 15px;
      position: relative;
      @include border-radius(5px);
      &.error {
        border-color: $errorText;
      }
      input {
        position: absolute;
        top: 5px;
        left: -20px;
      }
      label {
        display: inline-block;
        height: 30px;
        vertical-align: middle;
        line-height: 30px;
      }
    }
  }
  #activation-errors {
    @extend .alert;
    @extend .alert-error;
    padding-left: 25px;
    max-width: 500px;
  }
}

#member-dashboard {
  #search {
    background: url(/images/homepage-bg-slice.jpg) center -100px repeat-x;
    margin-top: -10px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      margin: -10px -20px 0 -20px;
    }
    @media screen and (max-width: 1170px) {
      background: url(/images/homepage-background.jpg) center -100px no-repeat;
      #search-overlay {
        background: none;
      }
    }
    #search-overlay {
      padding: 0;
      background: url(/images/homepage-background.jpg) center -100px no-repeat;
    }
    h2 {
      padding: 50px 0 0 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 3.8em;
      color: #FFF;
      font-weight: 300;
      padding-bottom: 240px;
      text-shadow: 0px 1px 10px #555;
      @media screen and (max-width: 768px) {
        padding-bottom: 45px;
        font-size: 2.8em;
      }
    }
    form {
      @include gridRow();
      @extend .form-inline;
      .search-field {
        &.location {
          @include gridColumn(4, 1);
        }
        &.search-date {
          @include gridColumn(2);
          position: relative;
        }
        &.submit {
          @include gridColumn(2);
        }
        .input-append {
          width: 100%;
          .add-on {
            background-color: transparent;
            border: none;
            z-index: 10;
            top: 1px;
            left: -28px;
          }
        }
        input {
          width: 98%;
        }
        label {
          font-weight: bold;
          @extend .control-label;
          display: block;
          color: #FFF;
          text-shadow: 0px 1px 5px #555;
        }
      }
      input[type="submit"] {
        @include gridColumn(2);
        clear: both;
      }
      @media screen and (max-width: 768px) {
        padding: 0 20px;
        input {
          width: 80%;
        }
      }
    }
    #where-to-look {
      padding: 10px 0 30px 0;
      text-align: center;
      width: 100%;
      text-shadow: 0px 1px 5px #555;
      color: #FFF;
      a {
        text-shadow: none;
      }
    }
  }
  h3 {
    background: #580f8b;
    color: #FFF;
    text-transform: uppercase;
    display: inline;
    padding: 8px 15px;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0 0 0 -20px;
    @media screen and (max-width: 768px) {
      display: block;
      padding: 0 10px;
      margin: 0 -20px 0 -20px;
    }
  }
  #user-activity {
    @include gridContainer();
  }
  #rewards-summary {
    @include gridRow();
    margin-bottom: 25px;
    h3 {
      @include gridColumn(12);
    }
    #remaining {
      font-weight: bold;
    }
    #balance-expired {
      @include gridColumn(12);
    }
    #available, #unavailable, #remaining {
      text-align: center;
      @include gridColumn(3);
      font-size: 1.7em;
      padding-top: 10px;
      padding-bottom: 10px;
      .rewards-caption {
        font-size: 0.5em;
        font-weight: normal;
      }
    }
    .minus, .equals {
      text-align: center;
      @include gridColumn(1);
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 3em;
      min-height: 40px;
    }
    #available {
      //@include gridColumn(3,1);
    }
  }
  #transaction-history {
    @include gridRow();
    #view-history {
      @extend .well;
      @extend .well-small;
      @include gridColumn(12);
      @include box-sizing(border-box);
      a {
        cursor: pointer;
      }
      &.history-open i {
        @include rotate(90deg)
      }
    }
    #history {
      @include gridColumn(12);
      margin-top: 20px;
      table {
        @extend .table;
        @extend .table-bordered;
        @extend .table-striped;
      }
    }
  }
  #upcoming-reservations {
    @include gridContainer();
    .reservation {
      margin-top: 20px;
      position: relative;
      @include gridRow();
      .reservation-details {
        @include gridColumn(12);
        h4 {
          margin-bottom: 20px;
        }
        img {
          @include gridColumn(4);
          margin-bottom: 20px;
        }
        .dealership-info {
          @include gridColumn(3,1);
          address {
            #dealer_name {
              font-weight: bold;
            }
          }
        }
        .reservation-details {
          @extend .dl-horizontal;
          @include gridColumn(3);
          margin-top: 0;
          dt {
            width: auto;
            margin-right: 10px;
            float: left;
            clear: left;
          }
          dd {
            margin: 0;
            float: left;
          }
        }
        .reservation-actions {
          position: absolute;
          right: 0;
          top: 10px;
          a {
            cursor: pointer;
          }
          &:after {
            width: 0;
            height: 0;
            content: ' ';
            cursor: pointer;
            display: inline-block;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $grayLight;
          }
          .actions-menu {
            position: absolute;
            right: 0;
            top: 25px;
            list-style-type: none;
            width: 125px;
            padding: 10px;
            background: white;
            @include box-shadow(0 0 10px 1px $gray);
            li {
              a {
                cursor: pointer;
              }
              &:hover {
                background: $grayLighter;
              }
            }
          }
        }
      }
      
    }
  }
}

#dashboard {
  @extend .content-box;
  @include gridContainer();
  #admin-dashboard{
    @include gridRow();
    h2 {
      border-bottom: 1px solid black;
      margin-bottom: 15px;
      padding: 10px 0;
      width: 100%;
    }
    a {
      cursor: pointer;
    }
    #today-activity, #inventory {
      @include gridColumn(8);
    }
    #today-activity{
      @extend .clearfix;
      .activity-summary {
        width: 33%;
        float: left;
        .remaining {
          font-size: $fontSizeLarge;
        }
        .total {
          font-size: $fontSizeMini;
        }
        button {
          @extend .btn-info;
          margin-top: 10px;
        }
      }
    }
    #member-support, #dealership-details {
      @include gridColumn(4);
    }
    #member-support {
      form {
        @extend .form-inline;
        input[type="search"] {
          max-width: 60%;
          margin-bottom: 0;
        }
        button {
          max-width: 40%;
        }
      }
      a {
        display: block;
      }
    }
    #inventory {
      position: relative;
      #manage-inventory {
        position: absolute;
        top: 0;
        right: 0;
        line-height: 90px;
      }
      #inventory-alert {
        @extend .alert;
      }
      #inventory-week {
        @extend .table;
        @extend .table-bordered;
        border-top: none;
        th {
          border-top: solid 1px $tableBorder !important;
          font-weight: normal;
          text-align: center;
          &:first-child {
            border-top: none !important;
            border-left: none;
            width: auto;
          }
          &.negative {
            color: $errorText;
          }
        }
        tr#alert-indicators {
          background: $tableBackgroundAccent;
          td {
            text-align: center;
            &:first-child{
              text-align: left;
            }
            .name {
              font-weight: bold;
            }
            .closed {
              line-height: 40px;
              &:after {
                content: 'Closed';
              }
            }
            .daily-inventory-status {
              width: 20px;
              height: 20px;
              display: inline-block;
              background: #6fb728;
              border-color: darken(#6fb728, 15%);
              border-width: 2px;
              border-style: solid;
              color: white;
              text-align: center;
              margin-top: 8px;
              line-height: 20px;
              @include border-radius($baseBorderRadius);
              &:after {
                content: '\2713';
              }
            }
            &.negative {
              .daily-inventory-status {
                background: $errorText;
                border-color: darken($errorText, 15%);
                &:after {
                  content: '\2014';
                }
              }
            }
          }
        }
        td.negative {
          color: $errorText;
        }
        td.inventory-count {
          text-align: center;
          &.negative {
            background: $errorText;
            color: White;
          }
        }
      }
    }
    #dealership-details {
      position: relative;
      #change-dealership {
        display: block;
        margin-bottom: 10px;
      }
      #dealership-addr {
        address {
          margin-bottom: 0;
          #dealer_name {
            font-weight: bold;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 979px) {
  #dashboard #admin-dashboard {
    #today-activity, #inventory {
      h2 {
        line-height: 80px;
      }
    }
    #inventory #manage-inventory {
      line-height: 120px;
    }
  }
}

#all-users {
  a#new-user {
    float: right;
  }
  #loading-users {
    text-align: center;
  }
  #results-count {
    margin-bottom: 20px;
  }
  hr {
    width: 100%;
    height: 2px;
    border: 0;
    background: #000;
  }
  header {
    @include gridRow();
    #member-search {
      @include gridColumn(6);
    }
    #dealer-search {
      text-align: right;
      @include gridColumn(6);
    }
  }
  #results {
    @include gridRow();
  }
}

#user-overview {
  @include gridContainer();
  @extend .content-box;
  hr {
    width: 100%;
    height: 2px;
    border: 0;
    background: #000;
  }
  
  .change_password{
    padding:8px 0
  }
  header {
    @include gridRow();
    h3 {
      float: left;
      margin-right: 10px;
      &.disabled {
        color: $errorText;
      }
    }
    #resend-confirmation {
      margin: 20px 0;
    }
    .email {
      clear: left;
    }
  }
  .personal-stats {
    @include gridColumn(10);
    @include clearfix();
    .rewards {
      float: left;
      margin-right: 35px;
      &#add-rewards {
        max-width: 200px;
        input[type='number'] {
          width: 50px;
        }
        .proposed-total {
          font-size: 0.7em;
          line-height: 1.3em;
          margin-bottom: 10px;
          color: $grayLight;
        }
      }
    }
  }
  .actions {
    @include gridColumn(2);
    text-align: right;
  }
  #reservations-header {
    @include gridRow();
    padding-bottom: 20px;
    #reservations-label {
      @include gridColumn(6);
      > * {
        margin: 0;
      }
    }
    #reservations-tools {
      @include gridColumn(6);
      text-align: right;
    }
  }
  #account-history {
    margin-bottom: 50px;
    .history-date { color: $grayLight; }
    .history-heading {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .history-details {
      margin-left: 35px;
    }
  }
}

.changeAdminDealership{
  .modal-body {
    @include clearfix();
  }
  ul#dealership-list {
    max-height: 400px;
    width: 180px;
    overflow-y: auto;
    float: left;
    list-style-type: none;
    margin-left: 5px;
    li {
      input[type='radio'] {
        vertical-align: top;
        width: 16px;
      }
      .address {
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
        width: 150px;
        address {
          font-style: italic;
          #dealer_name {
            font-weight: bold;
          }
        }
      } 
    }
  }
  #dealership-map {
    width: 345px;
    height: 300px;
    float: right;
  }
}

#member-edit, div#new-user {
  @include gridContainer();
  @extend .content-box; 
  .account-field {
    margin: 10px 25px;
    float: left;
  }
  #email, .account-actions {
    clear: left;
  }
  #roles .role {
    input[type='checkbox'] { vertical-align: top; }
    label { display: inline; }
  }
  input[type='submit'] {
    margin: 10px 25px;
  }
}