-url=confirmation_url(@user, :confirmation_token => @user.confirmation_token)
-unsubrcirbe_url=unsubscribe_activation_url(:confirmation_token => @user.confirmation_token)
%p Hello #{@user.first_name},
- if @user.is_member?
  
  %p
    Welcome to ScionSwap!  To activate your account and begin reserving your 10 complimentary rental days, click here:
    =link_to url, url
  %p
    We know you’re loving your new Scion, and our feelings won’t be hurt if occasionally you need to take advantage of a Toyota Tacoma truck to help move your stuff, or maybe a Prius Hybrid for a long road trip, or perhaps even a Sienna minivan for a family vacation.
  %p
    Thanks for joining Scion.   We hope you enjoy trying out these Toyota vehicles during those times when you might need a little more vehicle flexibility.  Please visit our
    %a{href: 'http://www.scion-swap.com/faq'} FAQs page
    if you need more information on ScionSwap.
  
  %p
    If  you wish to opt-out of future reminders, please 
    =link_to unsubrcirbe_url, unsubrcirbe_url  
-elsif @user.is_dealer_rep?
  %p
    Welcome to ScionSwap! You have been assigned an admin account for the #{@user.dealership.name} dealership. With that 
    dealer representative account, you will be able to log in, view users, manage your dealership's fleet, and assist
    user's with their reservations at your dealership. Before you are able to login, you will have to confirm your email
    address using the following link: 
    =link_to url, url
  %p
    If you need more information or assistance with your account, you can call Member Support or visit the FAQs link below
-else
  %p
    Welcome to ScionSwap! You have been assigned a member support account for the Swap program. With that 
    support account, you will be able to log in, view users, manage dealerships' fleets, and assist
    user's with their reservations. Before you are able to login, you will have to confirm your email
    address using the following link: 
    =link_to url, url
  %p
    If you need more information or assistance with your account, you can call Member Support or visit the FAQs link below
 