#admin-rental{modal: 'modalOptions.show', close: 'cancel', options: 'modalOptions'}
  .modal-header
    %h3 Rental Location & Date
  .modal-body
    %h6 Dealership
    {{dealership.name}}
    %form{name: 'adminRental'}
      .date-field
        %label Pick up
        %input{'ui-date' => 'dateInputOptions', 'ui-date-format' => 'yy-mm-dd', name: 'startDate', placeholder: 'mm/dd/yyyy', required: true, ng: {model: 'start_date'}}
        %span.required-error{ng: {show: 'adminRental.startDate.$invalid'}} * Required
      .date-field
        %label Drop off
        %input{'ui-date' => 'dateInputOptions', 'ui-date-format' => 'yy-mm-dd', name: 'endDate', placeholder: 'mm/dd/yyyy', required: true, ng: {model: 'end_date'}}
        %span.required-error{ng: {show: 'adminRental.endDate.$invalid'}} * Required
  .modal-footer
    %input{type: 'submit', value: 'Continue', ng: {click: 'makeReservation()'}}
    %button{ng: {click: 'cancel()'}} Cancel