#schedule-conflict{modal: 'conflictOptions.show', close: 'closeConflicts()', options: 'conflictOptions.modal'}
  .modal-header
    %h3
      {{conflictOptions.title || 'Scheduling Conflict'}}
      %button.close{href: '#', ng: {click: 'closeConflicts()'}} &times;
  .modal-body
    %div{ng: {show: 'conflictOptions.schedule.conflicts'}}
      #conflict-message There are {{schedule.conflicts}} customers expecting to pick up or drop off a car on the day(s) the dealership will be closed
      %dl#changes-summary{ng: {show: 'conflictOptions.schedule.changes'}}
        %dt Current status:
        %dd{ng: {bind: 'conflictOptions.schedule.changes.was'}}
        %dd{ng: {repeat: '(key, change) in conflictOptions.schedule.changes'}} {{change}}
        %dt Updated operating hours:
        %dd{ng: {bind: 'conflictOptions.schedule.changes.now'}}
    %div{ng: {show: 'conflictOptions.inventory.conflicts'}}
      #conflict-message There are {{inventoryNeed()}} customers expecting to rent this model and only {{scheduledInventory()}} cars are available on this date at this location.
      %dl#changes-summary
        %dt {{makeModel()}}
        %dd &nbsp;
        %dt Current inventory:
        %dd {{currentInventory()}}
        %dt Scheduled inventory:
        %dd {{scheduledInventory()}}
    #proceed-prompt How would you like to proceed?
    %button#submit{ng: {click: 'confirm()'}} Schedule Update Anyway
    %button#cancel-conflict{ng: {click: 'cancelConflicts()'}} Cancel
