%header
  %form#search-form{ng: {submit: 'doSearch()'}}
    %input#from_date.search-date{'type' => 'text', 'ui-date' => 'fromDateOptions', 'ui-date-format' => 'yy-mm-dd', ng: {model: 'search.fromDate'}, placeholder: 'Pick up', required: true}
    %i.icon-calendar
    %input#to_date.search-date{'type' => 'text', 'ui-date' => 'toDateOptions', 'ui-date-format' => 'yy-mm-dd', ng: {model: 'search.toDate'}, placeholder: 'Drop off', required: true}
    %i.icon-calendar
    %input#city{type: 'text', ng: {model: 'search.location'}}
    %input{type: 'submit', value: 'Search'}
    #userEntitlements
      {{currentUser.usedCredits()}} days used
      %br/
      {{currentUser.remainingCredits()}} days remaining
