#search-page
  %div{'data-search-bar' => true, dealership: 'dealership', search: 'search'}
  #browse-locations
    %p
      The
      %strong SCION
      %i>SWAP&#160;
      pilot program is expanding rapidly.  Check back soon for new locations!
    #browse-map
      %img#us-map{src: "#{image_path('usMap.jpg')}", usemap: '#cities'}
      -['Miami, FL', 'Long Island, NY', 'Houston, TX'].each do |city_name|
        %a{id: city_name.downcase.gsub(/[^a-z]/, ''), 'ng-click' => "goToCity('#{city_name}')"} #{city_name.split(',')[0]}
