#search-page
  %div{'data-search-bar' => true, dealership: 'dealership', search: 'search'}
  #dealership{ng: {show: 'dealership && searchComplete'}}
    .row
      #map{ui: {if: 'mapReady', map: 'dealer.gmap', options: 'mapOptions', event: "{'map-idle': 'onMapIdle()'}"}}
      #dealer_info
        %div{ng: {include: "'/assets/dealerships/address.html'"}}
        #schedule
          %div{ng: {repeat: 'schedule in dealership.rentalHours()'}}
            {{schedule.days}}: {{schedule.label}}
        %a#nearbys{href: '', ng: {click: 'browse()', show: 'dealership.nearbys.length > 0'}} Browse all nearby dealers ({{dealership.nearbys.length}})
    .row
      .span12 {{dealership.instructions}}
    #nearbys{modal: 'nearby.show', close: 'closeNearbys()', options: 'nearby.options'}
      .modal-header
        %h3
          Dealers near {{dealership.city}}, {{dealership.state}}
          %button.close{href: '#', ng: {click: 'closeNearbys()'}} &times;
      .modal-body
        %form
          %ul#nearby-list
            %li{ng: {repeat: 'dealership in dealership.nearbys'}}
              %input{type: 'radio', id: 'nearby{{dealership.id}}', value: '{{$index}}', ng: {model: 'nearby.selected', change: 'selectNearby(dealership)'}}
              %label.address{for: 'nearby{{dealership.id}}', ng: {include: "'/assets/dealerships/address.html'"}}
        #nearby-map{ui: {map: 'nearby.gmap', options: 'nearby.mapOptions', event: "{'map-idle': 'onNearbyMapIdle()'}"}}
      .modal-footer
        %button#select-nearby{ng: {click: 'closeNearbys(true)'}} Select
        %button#cancel-nearby{ng: {click: 'closeNearbys()'}} Cancel
  .results{ng: {repeat: 'group in dealership.fleet_groups'}}
    #errors{ng: {show: "reservationErrors[group.id]"}}
      %h4 You need to resolve these errors before continuing:
      %ul
        %li{ng: {repeat: "error in reservationErrors[group.id]"}} {{error}}
    .row
      .span4
        %h3 {{group.make}} {{group.model}}
        %button.reserve{ng: {disabled: 'submittingReservation', click: 'reserve(group, $event)', show: 'group.quantity > 0'}} Reserve
        .alert.unavailable{ng: {show: 'group.quantity < 1'}}
          None available on these dates.
          %a.choose-dealer{href: '', ng: {click: 'browse()', show: 'dealership.nearbys.length > 0'}} Choose a nearby dealership
        .description {{group.description}}
        .addtional-info
          Additional information about the Toyota Tacoma can be found at:
          %a{href: "{{group.product_url}}"} {{group.product_url}}
      .span6.offset2
        %img.vehicle-image{ng: {src: "{{group.image_url}}"}}
        .photo-disclaimer {{group.make}} {{group.model}} stock photo.  Color and features may vary.
