.navbar.navbar-fixed-top
  %nav.navbar-inner
    .container
      = link_to root_path, :class => 'brand', :target => '_self' do
        %strong SCION
        %i>SWAP&#160;
      %ul.nav.pull-right
        - if user_signed_in?
          %li
            = link_to 'Home', "/", :target => '_self'
          %li
            = link_to 'Account', edit_users_path, :target=> '_self'
          %li
            = link_to 'Logout', destroy_user_session_path, :method=>'delete'
