!!! 5
%html{:lang=>'en'}
  %head
    %title= content_for?(:title) ? yield(:title) : "Scion Swap"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

  %body{ng: {app: 'swap'}}
    #header
      = render 'layouts/header'

    #global-flash-messages.alerts{ng: {controller: 'FlashCtrl'}, ui: {show: 'flashMessages()'}}
      %div.alert{ng: {repeat: 'flash in flashMessages()', class: "{'alert-success': flash.type == 'notice', 'alert-error': flash.type != 'notice'}"}}
        %a.close{data: {dismiss: 'alert'}, ng: {click: 'clearMessages()'}} x
        %div{id: "flash_{{flash.type}}"} {{flash.message}}

    .content
      = yield
      .ng-view

    %footer#footer
      .navbar.navbar-static-top
        %nav.navbar-inner
          .container
            %ul.nav.pull-left
              %li
                %a{:href=>'/faq', :target=>'_self'} Support
              %li
                %a{:href=>'/terms#privacy', :target=>'_self'} Privacy Policy
              %li
                %a{:href=>'/terms', :target=>'_self'} Terms
            
