!!! 5
%html{:lang=>'en'}
  %head
    %title= content_for?(:title) ? yield(:title) : "Scion Swap"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    =stylesheet_link_tag 'email'
%table#swap-email
  %tr#header
    %td
      %table#nav-head
        %tr
          %td#head-logo= link_to "ScionSwap", root_url, :class => 'brand'
          %td#head-sign-in= link_to 'Sign in', new_user_session_url
  %tr
    %td#content=yield
  %tr#footer
    %td
      %table#nav-footer
        %tr
          %td#footer-nav-links
            =link_to 'Help', help_url
            =link_to 'Privacy Policy', privacy_url
            =link_to "FAQ's", faq_url
          %td#footer-powered
            =link_to 'Powered by Wheelz', '#'
